/**
 * Animations
 */
.fromTopIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1.0; }

.fromTopOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 0.0; }

.fromBottomIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1.0; }

.fromBottomOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0.0; }

.fromLeftIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1.0; }

.fromLeftOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(-10px, 0);
  -ms-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
  opacity: 0.0; }

.fromRightIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1.0; }

.fromRightOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0.0; }

.scaleUpIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1.0; }

.scaleUpOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0.0; }

.scaleDownIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1.0; }

.scaleDownOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  -o-transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  opacity: 0.0; }
