@media screen and (min-width: 1025px) {
  html {
    overflow-y: scroll;
  }

  // Главный (Hero) блок


  .animation--word-fade-in {
    animation: fade-in 1s ease-in forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .hero--title {
    h1 {
      span {
        opacity: 0;
      }

      > span:nth-child(1) {
        animation-delay: 0.25s;
      }

      > span:nth-child(2) {
        animation-delay: 0.5s;
      }

      > span:nth-child(3) {
        animation-delay: 0.75s;
      }

      > span:nth-child(4) {
        animation-delay: 1s;
      }

      > span:nth-child(5) {
        animation-delay: 1.25s;
      }

      > span:nth-child(6) {
        animation-delay: 1.5s;
      }

      > span:nth-child(7) {
        animation-delay: 1.75s;
      }

      > span:nth-child(8) {
        animation-delay: 2s;
      }

      > span:nth-child(9) {
        animation-delay: 2.25s;
      }
    }

    p {
      opacity: 0;
    }
  }

  .animation--fade-in-bottom {
    animation: fade-in-bottom 0.75s 2.5s ease forwards;
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // Заголовки

  .section-content .heading-triangle-left,
  .footer-content .heading-footer.animated {
    transform: perspective(50vh) rotateY(-30deg) translateX(-300%);
    opacity: 0;
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity 1s cubic-bezier(.215, .61, .355, 1);

    &.animation--fade-in-left-3d {
      transform: perspective(50vh);
      opacity: 1;
    }

    &.animation--fade-outleft-3d {
      transform: perspective(50vh) rotateY(-30deg) translateX(-200%);
      opacity: 0;
    }
  }

  .section-content .quote-heading .heading-triangle-top {
    transform: perspective(50vh) rotateY(-30deg) translateX(-300%);
    opacity: 0;
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity 1s cubic-bezier(.215, .61, .355, 1);
  }

  .section-content .quote-heading {
    &.animation--fade-in-left-3d .heading-triangle-top {
      transform: perspective(50vh);
      opacity: 1;
    }

    &.animation--fade-outleft-3d .heading-triangle-top {
      transform: perspective(50vh) rotateY(-30deg) translateX(-200%);
      opacity: 0;
    }
  }

  .section-content .heading-triangle-left::before {
    opacity: 0;
    transform: translateX(-28px) scale(0);
    transition: opacity 0.5s 0.25s, transform 0.5s 0.25s;
  }

  .section-content .heading-triangle-left.animation--fade-in-left-3d::before {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  .section-content .heading-triangle-left.animation--fade-out-left-3d::before {
    opacity: 0;
    transform: translateX(-28px) scale(0);
  }

  .section-content .quote-heading .heading-triangle-top::before {
    opacity: 0;
    transform: translateY(-28px) scale(0);
    transition: opacity 0.5s 0.25s, transform 0.5s 0.25s;
  }

  .section-content .quote-heading.animation--fade-in-left-3d .heading-triangle-top::before {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .section-content .quote-heading.animation--fade-out-left-3d .heading-triangle-top::before {
    opacity: 0;
    transform: translateY(-28px) scale(0);
  }

  // Цитаты

  .quote-heading .quote {
    transform: translateX(300%);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity 1s cubic-bezier(.215, .61, .355, 1), visibility 1s cubic-bezier(.215, .61, .355, 1);
  }

  .section-content .quote-heading.animation--fade-in-left-3d .quote {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }



  // Блок Digital-интегратор

  .digital--speciality--circle.animation--circle-fade-in-left .circle--item.animation--fade-in-and-scale {
    animation: fade-in-and-scale 1s 1.5s ease forwards;
  }

  @keyframes fade-in-and-scale {
    0% {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    75% {
      transform: scale(1.1);
      opacity: 1;
      visibility: visible;
    }

    100% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  .digital--speciality {
    &--heading h4 {
      visibility: hidden;
      opacity: 0;
      transform: translateY(200px);
      transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s;

      &.animation--fade-in-bot {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &--circle {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-300px);
      transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s;

      &.animation--circle-fade-in-left {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .circle--item {
        transform: scale(0);
        opacity: 0;
        visibility: hidden;

        &.mobility.animation--fade-in-and-scale {
          animation-delay: 2s;
        }

        &.apps.animation--fade-in-and-scale {
          animation-delay: 2.5s;
        }

        &.services.animation--fade-in-and-scale {
          animation-delay: 3s;
        }
      }
    }

    &--description p {
      visibility: hidden;
      opacity: 0;
      transform: translateY(200px);
      transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s;

      &.animation--fade-in-bot {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .digital--services--item {
    visibility: hidden;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s 0.5s ease-in-out, visibility 1s 0.5s ease-in-out, transform 1s 0.5s ease-in-out;

    h5,
    ul {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 0.75s 1s ease-in-out, visibility 0.75s 1s ease-in-out, transform 0.75s 1s ease-in-out;
    }

    &.animation--fade-in-bot {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);

      h5,
      ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.programming.animation--fade-in-bot {
      transition-delay: 1s;

      h5,
      ul {
        transition-delay: 1.5s;
      }
    }

    &.interfaces.animation--fade-in-bot {
      transition-delay: 1.5s;

      h5,
      ul {
        transition-delay: 2s;
      }
    }
  }

  // Проекты

  .projects .project--item {
    transform: translateY(20%);
    transition: transform 1s;

    &.animation--translate-top-in {
      transform: translateY(0);
    }

    &--image {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
    }

    &:hover .project--item--image {
      transform: scale(1.05);
    }

    .project--item--info {
      transform: scaleY(0);
      transform-origin: center bottom;
      transition: opacity 0s, visibility 0s, transform 0.3s cubic-bezier(.4, 0, .2, 1);

      .platform-n-date,
      .title,
      .description {
        opacity: 0;
        transform: translateY(125%);
        transition: transform 0.6s, opacity 0.6s;
      }

      &--aligner {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
      }
    }

    &:hover .project--item--info {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;

      &--aligner {
        opacity: 1;
        visibility: visible;
      }

      .platform-n-date,
      .title,
      .description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .projects--list--column .show-link {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.75s cubic-bezier(.215, .61, .355, 1), opacity 0.75s cubic-bezier(.215, .61, .355, 1), visibility 0.75s cubic-bezier(.215, .61, .355, 1), padding 0.5s ease, color 0.5s ease;

    &:hover {
      padding-left: 0;
      padding-right: 56px;
      color: #25b7bd;

      &::before {
        left: -56px;
      }

      &::after {
        right: 0;
      }
    }

    &.animation--fade-in-left {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  // Клиенты

  .clients .client--item {
    opacity: 0;
    visibility: hidden;
    transform: translateY(60px);
    transition: opacity 1.5s 0.25s ease, visibility 1.5s 0.25s ease, transform 1.5s 0.25s ease;

    &.animation--client--fade-in-bottom {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);

      &:nth-child(2) {
        transition-delay: 0.5s;
      }

      &:nth-child(3) {
        transition-delay: 0.75s;
      }

      &:nth-child(4) {
        transition-delay: 1s;
      }

      &:nth-child(5) {
        transition-delay: 0.5s;
      }

      &:nth-child(6) {
        transition-delay: 0.75s;
      }

      &:nth-child(7) {
        transition-delay: 1s;
      }

      &:nth-child(8) {
        transition-delay: 1.25s;
      }

      &:nth-child(9) {
        transition-delay: 1.5s;
      }

      &:nth-child(10) {
        transition-delay: 0.5s;
      }

      &:nth-child(11) {
        transition-delay: 0.75s;
      }

      &:nth-child(12) {
        transition-delay: 1s;
      }

      &:nth-child(13) {
        transition-delay: 1.25s;
      }
    }
  }

  // Команда

  .team--member {
    transform: translateY(40%);
    transition: transform 1s;

    &.animation--translate-top-in {
      transform: translateY(0);
    }

    &--photo {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
    }

    &:hover .team--member--photo {
      transform: scale(1.05);
    }

    .team--member--info {
      transform: scaleY(0);
      transform-origin: center bottom;
      transition: opacity 0s, visibility 0s, transform 0.3s cubic-bezier(.4, 0, .2, 1);

      .name,
      .position {
        opacity: 0;
        transform: translateY(125%);
        transition: transform 0.6s, opacity 0.6s;
      }

      &--wrapper {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
      }
    }

    &:hover .team--member--info {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;

      &--wrapper {
        opacity: 1;
        visibility: visible;
      }

      .name,
      .position {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  // Отзывы

  .testimonial--slider {
    opacity: 0;
    visibility: hidden;
    transform: translateY(200px);
    transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s;

    &.animation--slider--fade-in-bottom {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  // Подвал (форма обратной связи + карта)

  .footer--form.animated {
    opacity: 0;
    visibility: hidden;
    transform: translateY(200px);
    transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s;

    &.animation--form--fade-in-bottom {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .footer--contact.animated {
    opacity: 0;
    visibility: hidden;
    transform: translateX(200px);
    transition: opacity 1s 0.5s, visibility 1s 0.5s, transform 1s 0.5s, right 0.5s ease-in-out, background 0.2s ease-in-out;

    &.animation--map--fade-in-right {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  input[type="submit"]:hover {
    animation: pulse 1.5s ease-in-out infinite both;
  }

  @keyframes pulse {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }

    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }

    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }

    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }

    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  .modal.animation--modal {
    transform: translate3d(130%, 0, 0);
    transition: transform 0.75s 0.25s ease-in-out;

    .modal--form {
      transform: translateZ(-1400px) translateX(1000px);
      transition: transform 0.7s 0.75s ease;

      h2 {
        transform: translateZ(-1400px) translateX(200px);
        transition: transform 0.7s 0.75s ease;
      }

      .form-field {
        transform: translateZ(-1400px) translateX(200px);
        opacity: 0;
        transition: transform 0.7s 0.85s ease, opacity 0.7s 0.85s ease;

        &:nth-child(1) {
          transition-delay: 0.95s;
        }

        &:nth-child(2) {
          transition-delay: 1.05s;
        }

        &:nth-child(3) {
          transition-delay: 1.15s;
        }

        &:nth-child(4) {
          transition-delay: 1.25s;
        }

        &:nth-child(5) {
          transition-delay: 1.35s;
        }
      }

      .notice {
        transform: translateZ(-1400px) translateX(200px);
        opacity: 0;
        transition: transform 0.7s 1.45s ease, opacity 0.7s 1.45s ease;
      }
    }

    .modal--nav {
      transform: translateZ(-1400px) translateX(1000px);
      transition: transform 0.7s 0.75s ease;

      .modal--links li {
        transform: translateZ(-1400px) translateX(200px);
        transition: transform 0.7s 0.75s ease;

        &:nth-child(2) {
          transition-delay: 0.85s;
        }

        &:nth-child(3) {
          transition-delay: 0.95s;
        }

        &:nth-child(4) {
          transition-delay: 1.05s;
        }

        &:nth-child(5) {
          transition-delay: 1.15s;
        }

        &:nth-child(6) {
          transition-delay: 1.25s;
        }
      }

      .modal--contact {
        transform: translateZ(-1400px) translateX(1000px);
        transition: transform 0.7s 1.35s ease;
      }

      .modal--social {
        transform: translateZ(-1400px) translateX(1000px);
        transition: transform 0.7s 1.45s ease;
      }
    }

    &.opened {
      transform: translate3d(26%, 0, 0);

      .modal--form,
      .modal--nav {
        transform: translateZ(0) translateX(0);
      }

      .modal--form {
        h2 {
          transform: translateZ(0) translateX(0);
        }

        .form-field {
          opacity: 1;
          transform: translateZ(0) translateX(0);
        }

        .notice {
          opacity: 1;
          transform: translateZ(0) translateX(0);
        }
      }

      .modal--nav {
        .modal--links li,
        .modal--contact,
        .modal--social {
          transform: translateZ(0) translateX(0);
        }
      }
    }
  }
}