html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  color: black;
  font-family: $font_gotham_bold;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.53;
  letter-spacing: -0.2px;
}

h2 {
  margin: 0;
  color: black;
  font-family: $font_gotham_bold;
  font-size: 70px;
  font-weight: normal;
  line-height: 1.09;
  letter-spacing: 0.1px;
}

h4 {
  margin: 0;
  color: black;
  font-family: $font_gotham_bold;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
}

h5 {
  margin: 0;
  color: white;
  font-family: $font_gotham_medium;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.2px;
}

h6 {
  margin: 0;
  color: white;
  font-family: $font_gotham_bold;
  font-size: 32px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.4px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  border-radius: 0;
  line-height: 1;
  cursor: pointer;
  outline: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.section-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 36px;
}

.block {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 0 100px;
  position: relative;
  overflow: hidden;
}

.gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 960px;
  background-image: linear-gradient(to bottom, #fbfbfb, #fbfbfb 41%, rgba(255, 255, 255, 0));
}

.section-content {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.show-link {
  display: inline-block;
  padding-left: 56px;
  color: black;
  font-family: $font_gotham_bold;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.27;
  letter-spacing: 0.4px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 40px;
    height: 12px;
    background: url("../img/svg/arrow-right.svg") 0 0 no-repeat;
    transition: left 0.5s ease;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 13px;
  //   right: -56px;
  //   width: 40px;
  //   height: 12px;
  //   background: url("../img/svg/arrow-left.svg") 0 0 no-repeat;
  //   transition: right 0.5s ease;
  // }
}

.grad-light-blue {
  background-image: linear-gradient(to right, #25b7bd, #006fba);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grad-blue-light {
  background-image: linear-gradient(to left, #25b7bd, #006fba);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grad-light-blue {
    background: none;
    color: #25b7bd;
  }

  .grad-blue-light {
    background: none;
    color: #006fba;
  }
}

.quote-heading {
  display: flex;
  justify-content: space-between;

  .quote {
    width: 100%;
    max-width: 385px;
    margin-top: 55px;

    blockquote {
      margin: 0;
      padding: 0 0 0 15px;
      background: url("../img/svg/quote.svg") 0 8px no-repeat;
      color: #999999;
      font-size: 18px;
      font-style: italic;
      line-height: 1.56;
      letter-spacing: 0.2px;
    }
  }
}

.social-links {
  display: block;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: middle;

    + li {
      margin-left: 30px;
    }

    svg {
      transition: transform 0.3s;

      path {
        transition: fill 0.3s;
      }
    }

    &:hover svg {
      transform: scale(1.2);

      path {
        fill: #25c3c7;
      }
    }
  }
}

.centeralign {
  text-align: center;
}

.rightalign {
  text-align: right;
}

.leftalign {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 420px;
    padding-top: 0;
    position: relative;
  }

  .block {
    max-width: 100%;
  }

  h2 {
    font-size: 29px;
    line-height: 1.17;
    letter-spacing: 0;
  }

  .quote-heading {
    display: block;
    padding: 0 15px;

    .quote {
      max-width: 100%;
      margin-top: 30px;

      blockquote {
        padding: 12px 0 0 0;
        background-position: 0 0;
        font-size: 12px;
        line-height: 1.58;
        letter-spacing: 0.1px;
      }
    }
  }

  .section-wrapper {
    padding: 0;
  }

  .section-content {
    max-width: 100%;
  }

  .block {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}