@font-face {
  font-family: "Gilroy Extrabold";
  font-display: swap;
  src: url('#{$fonts}gilroy-extrabold.woff2') format('woff2'), url('#{$fonts}gilroy-extrabold.woff') format('woff'), url('#{$fonts}gilroy-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url('#{$fonts}GothamPro.woff2') format('woff2'), url('#{$fonts}GothamPro.woff') format('woff'), url('#{$fonts}GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url('#{$fonts}GothamProItalic.woff2') format('woff2'), url('#{$fonts}GothamProItalic.woff') format('woff'), url('#{$fonts}GothamProItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro Medium";
  font-display: swap;
  src: url('#{$fonts}GothamProMedium.woff2') format('woff2'), url('#{$fonts}GothamProMedium.woff') format('woff'), url('#{$fonts}GothamProMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Bold";
  font-display: swap;
  src: url('#{$fonts}GothamProBlack.woff2') format('woff2'), url('#{$fonts}GothamProBlack.woff') format('woff'), url('#{$fonts}GothamProBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

