// пути к изображениям и шрифтам
$img: "../img/";
$fonts: "../fonts/";

// шрифты, используемые локально для сайта
$font_gilroy: 'Gilroy Extrabold', sans-serif;
$font_proxima: 'Proxima Black', sans-serif;
$font_geometria: 'Geometria Extrabold', sans-serif;
$font_gotham_bold: 'Gotham Pro Bold', sans-serif;
$font_gotham_regular: 'Gotham Pro', sans-serif;
$font_gotham_medium: 'Gotham Pro Medium', sans-serif;


// цветовая палитра сайта
