/* Главный Блок */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 166px 36px 290px;

  &--title {
    max-width: 530px;

    h1 {
      margin-bottom: 65px;
    }

    p {
      margin: 0;
      color: black;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.2px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    justify-content: flex-end;
    padding-top: 114px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 1240px) {
  .hero {
    padding-bottom: 114px;

    &--title {
      h1 {
        font-size: 27px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .hero {
    &--title {
      h1 {
        font-size: 25px;
      }
    }
  }
}



/* Главный Блок End */

/* Digital-интегратор */

.digital {
  h2 {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -12px;
      width: 28px;
      height: 53px;
      background: url("../img/svg/triangle-right.svg") 0 0 no-repeat;
    }
  }

  &--speciality {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-bottom: 150px;
    flex-wrap: wrap;

    &--heading {
      width: 100%;

      h4 {
        max-width: 385px;
        float: right;
        position: relative;
        top: -20px;
      }

      &::after {
        @extend %clearfix;
      }
    }

    &--circle {
      width: 536px;
      height: 534px;
      background: url("../img/svg/digital-circle.svg") 0 0 no-repeat;
      position: relative;

      .circle--item {
        position: absolute;
        z-index: 5;

        &--image {
          margin-bottom: 20px;
        }

        &--title {
          max-width: 120px;
          color: black;
          font-family: $font_gotham_bold;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.33;
          letter-spacing: 0.1px;
          text-transform: uppercase;
        }

        &.commerce {
          top: 55px;
          left: 10px;

          .circle--item--title {
            padding-left: 32px;
          }
        }

        &.mobility {
          top: -5px;
          right: 35px;
        }

        &.apps {
          top: 280px;
          right: -45px;

          .circle--item--title {
            padding-left: 7px;
          }
        }

        &.services {
          top: 380px;
          left: 95px;

          .circle--item--title {
            padding-left: 28px;
          }
        }
      }
    }

    &--description {
      position: relative;
      margin-top: 90px;
      width: 100%;
      max-width: 385px;

      p {
        margin: 0;
        color: #4a4a4a;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.2px;

        + p {
          margin-top: 30px;
        }
      }
    }
  }

  &--services {
    display: flex;
    justify-content: center;

    &--item {
      width: 285px;
      height: 497px;
      padding: 20px 30px;
      background-position: 0 0;
      background-repeat: no-repeat;
      outline: none;

      + .digital--services--item {
        margin-left: 63px;
      }

      &.management {
        background-image: url("../img/management.png");
        background-image: -webkit-image-set("../img/management.png" 1x, "../img/management@2x.png" 2x, "../img/management@3x.png" 3x);
        background-image: image-set("../img/management.png" 1x, "../img/management@2x.png" 2x, "../img/management@3x.png" 3x);
      }

      &.programming {
        background-image: url("../img/programming.png");
        background-image: -webkit-image-set("../img/programming.png" 1x, "../img/programming@2x.png" 2x, "../img/programming@3x.png" 3x);
        background-image: image-set("../img/programming.png" 1x, "../img/programming@2x.png" 2x, "../img/programming@3x.png" 3x);
      }

      &.interfaces {
        background-image: url("../img/interfaces.png");
        background-image: -webkit-image-set("../img/interfaces.png" 1x, "../img/interfaces@2x.png" 2x, "../img/interfaces@3x.png" 3x);
        background-image: image-set("../img/interfaces.png" 1x, "../img/interfaces@2x.png" 2x, "../img/interfaces@3x.png" 3x);
      }

      h5 {
        margin-bottom: 30px;
        text-transform: uppercase;
      }

      ul li {
        display: block;
        margin-bottom: 9px;
        color: white;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.2px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .digital {
    &--speciality--heading h4 {
      max-width: 100%;
      margin: 70px 0;
    }

    &--speciality--description {
      max-width: 340px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .digital--services--item + .digital--services--item {
    margin-left: 40px;
  }

  .digital--speciality {
    &--circle {
      width: 506px;
      height: 504px;
      background-size: 506px 504px;

      .circle--item.commerce {
        left: -5px;

        .circle--item--image {
          max-width: 120px;
        }
      }

      .circle--item.mobility {
        right: 50px;

        .circle--item--image {
          max-width: 116px;
        }
      }

      .circle--item.apps {
        right: -30px;

        .circle--item--image {
          max-width: 131px;
        }
      }

      .circle--item.services {
        left: 80px;

        .circle--item--image {
          max-width: 111px;
        }
      }
    }
  }
}


/* Digital-интегратор End */

/* Проекты */

.projects {
  h2 {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 102px;
      width: 54px;
      height: 29px;
      background: url("../img/svg/triangle-down.svg") 0 0 no-repeat;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    &--column {
      width: 100%;
      max-width: 540px;
      position: relative;

      .show-link {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:nth-child(even) {
        margin-top: 77px;
        margin-left: 30px;
      }
    }
  }

  .project--item {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;

    &:hover .project--item--info {
      top: 0;
    }

    &--link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 10;
      outline: none;
    }

    &--image {
      display: block;
    }

    &--info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 20px 80px 80px 80px;
      background: url("../img/project-bg-hover.png") 0 100% no-repeat;
      z-index: 7;

      .platform-n-date {
        width: 100%;
        margin-bottom: 40px;
      }

      .platform {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: white;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.1px;
      }

      .date {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.1px;
      }

      .title {
        width: 100%;
        margin-bottom: 18px;
      }

      .description {
        width: 100%;
        max-width: 200px;
        margin: 0;
        color: white;
        font-family: $font_gotham_bold;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        letter-spacing: 0.2px;
      }
    }
  }

  &--list--mobile {
    display: none;
    margin-top: 30px;
    padding-left: 15px;

    .project--item {
      margin-bottom: 0;
      width: 270px;
      height: 340px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      outline: none;

      + .project--item {
        margin-left: 20px;
      }

      &--info {
        top: 0;
        opacity: 1;
        visibility: visible;
        padding: 15px;
        background: none;

        &--aligner {
          display: flex;
          flex-wrap: wrap;
        }

        .title {
          margin-bottom: 2px;
          order: 1;
          color: #4a4a4a;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: 0.2px;
        }

        .platform-n-date {
          margin: 0;
          order: 2;

          .platform,
          .date {
            color: #4a4a4a;
            line-height: 1.58;
          }
        }

        .description {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .projects--list--column {
    max-width: 49%;

    &:nth-child(2n) {
      margin-left: 2%;
    }
  }
}

/* Проекты End */

/* Клиенты */

.clients {
  h2 {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -12px;
      width: 28px;
      height: 53px;
      background: url("../img/svg/triangle-right.svg") 0 0 no-repeat;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 240px 0;
  }

  .client--item {
    margin: 40px 0;
    width: 25%;
    text-align: center;

    img {
      display: inline-block;
    }
  }

  &--list--mobile {
    display: none;
    margin-top: 80px;

    .client--slide {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      outline: none;
    }

    .client--item {
      width: 50%;
      margin: 30px 0;
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .clients--list {
    margin: 190px 0;
  }
}

@media screen and (max-width: 1440px) {
  .clients--list {
    margin: 115px 0;
  }
}

/* Клиенты End */

/* Команда */

.team {
  &.block {
    padding-bottom: 85px;
  }

  .all-link {
    margin-top: 25px;
    margin-left: 15px;
  }

  h2 {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 53px;
      width: 54px;
      height: 29px;
      background: url("../img/svg/triangle-down.svg") 0 0 no-repeat;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1368px;
    margin: 90px auto 0 auto;
  }

  &--member {
    width: 285px;
    height: 360px;
    margin: 0 30px 64px 30px;
    overflow: hidden;
    position: relative;
    outline: none;

    &:hover .team--member--info {
      top: 0;
    }

    &--photo img {
      display: block;
    }

    &--info {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 30px;
      background: url("../img/team-bg-hover.png") 0 0 no-repeat;
      z-index: 7;

      .name {
        max-width: 140px;
        margin-bottom: 10px;
        color: white;
        font-family: $font_gotham_bold;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: 0.3px;
      }

      .position {
        color: #fcfcfc;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.2px;
      }
    }
  }

  &--list--mobile {
    display: none;
    margin-top: 30px;
    padding: 0 0 0 15px;

    .team--member {
      width: 270px;
      height: 340px;
      margin: 0;

      + .team--member {
        margin-left: 20px;
      }

      &:nth-child(3n+2) {
        margin-top: 0;
      }

      &--photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
      }

      &--info {
        top: 0;
        padding: 15px 15px 15px 15px;
        background: none;

        .name {
          margin-bottom: 2px;
          max-width: 100%;
          color: #4a4a4a;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: 0.2px;
          position: relative;
          z-index: 10;
        }

        .position {
          color: #4a4a4a;
          font-size: 12px;
          line-height: 1.58;
          letter-spacing: 0.1px;
          position: relative;
          z-index: 10;
        }

        &--grad {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
          z-index: 7;
        }
      }
    }

    .team--efficiency--digit {
      margin-bottom: 5px;
    }

    .team--efficiency.years-total {
      top: 101px;
      left: 89px;

      .team--efficiency--digit {
        width: 80px;
        height: 110px;
      }

      .team--efficiency--desc {
        padding-left: 0;
      }
    }

    .team--efficiency.projects-total {
      top: 98px;
      left: 44px;

      .team--efficiency--digit {
        width: 178px;
        height: 113px;
      }

      .team--efficiency--desc {
        padding-left: 40px;
      }
    }

    .team--efficiency.specialists-total {
      top: 98px;
      left: 44px;

      .team--efficiency--digit {
        width: 178px;
        height: 114px;
      }

      .team--efficiency--desc {
        padding-left: 40px;
      }
    }

    .team--efficiency.positive-total {
      top: 98px;
      left: 16px;

      .team--efficiency--digit {
        width: 234px;
        height: 110px;
      }

      .team--efficiency--desc {
        padding-left: 68px;
      }
    }
  }

  &--efficiency {
    position: absolute;

    &--digit {
      margin-bottom: 10px;

      img,
      svg {
        display: block;
      }
    }

    &--desc {
      max-width: 210px;
      color: black;
      font-family: $font_gotham_bold;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.38;
      text-transform: uppercase;
      letter-spacing: 0.2px;
    }

    &.years-total {
      top: 95px;
      left: 53px;

      .team--efficiency--digit {
        width: 93px;
        height: 128px;
      }

      .team--efficiency--desc {
        padding-left: 43px;
      }
    }

    &.projects-total {
      top: 100px;
      left: 36px;

      .team--efficiency--digit {
        width: 205px;
        height: 130px;
      }

      .team--efficiency--desc {
        padding-left: 87px;
      }
    }

    &.specialists-total {
      top: 103px;
      left: 33px;

      .team--efficiency--digit {
        width: 204px;
        height: 130px;
      }

      .team--efficiency--desc {
        padding-left: 90px;
      }
    }

    &.positive-total {
      top: 98px;
      left: 4px;

      .team--efficiency--digit {
        width: 275px;
        height: 130px;
      }

      .team--efficiency--desc {
        padding-left: 122px;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .team--member {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

/* Команда End */

/* Пресса о нас */

.testimonial {
  h2 {
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -12px;
      width: 28px;
      height: 53px;
      background: url("../img/svg/triangle-right.svg") 0 0 no-repeat;
    }
  }

  &--slider {
    width: 100%;
    margin: 160px auto 50px auto;

    .slick-dots {
      margin-top: 140px;
    }

    &--item {
      width: 510px;
      min-height: 390px;
      padding: 60px 45px;
      background-color: white;
      outline-color: #24b4bc;
      outline: none;
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        outline: none;
      }

      &:hover .link {
        color: #24b4bc;
      }

      .person--desc {
        display: flex;
        align-items: center;
      }

      .person--avatar {
        margin-right: 20px;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: 50% 50%;
      }

      .person--info {
        &--credentials {
          display: flex;
        }

        &--name {
          margin-bottom: 5px;
          color: black;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: 0.2px;
        }

        &--position {
          color: #999999;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.2px;
        }

        &--company {
          margin-left: 3px;
          color: #24b4bc;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.2px;
        }
      }

      .person--feedback {
        margin-top: 40px;
        margin-left: 80px;
        padding-top: 25px;
        background: url("../img/svg/commas-up.svg") 0 0 no-repeat;
        color: black;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .testimonial--slider {
    margin-top: 115px;
    margin-bottom: 115px;

    .slick-dots {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .testimonial--slider--item {
    margin-right: 40px;
  }
}


/* Пресса о нас End */

@media screen and (max-width: 1240px) {
  .digital h2,
  .projects h2,
  .clients h2,
  .team h2,
  .testimonial h2 {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .clients h2,
  .digital h2,
  .projects h2,
  .team h2,
  .testimonial h2 {
    margin-left: 0;
  }

  .hero {
    margin-top: 0;
    padding: 356px 0 70px 0;
    min-height: auto;
    background-image: url("../img/hero-image-mobile.png");
    background-image: -webkit-image-set("../img/hero-image-mobile.png" 1x, "../img/hero-image-mobile@2x.png" 2x, "../img/hero-image-mobile@3x.png" 3x);
    background-image: image-set("../img/hero-image-mobile.png" 1x, "../img/hero-image-mobile@2x.png" 2x, "../img/hero-image-mobile@3x.png" 3x);
    background-repeat: no-repeat;
    background-position: 100% 76px;

    &--title {
      max-width: 320px;
      margin: 0 auto;
      padding: 0 15px;

      h1 {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0;
      }

      p {
        max-width: 100%;
        font-size: 12px;
        line-height: 1.58;
        letter-spacing: 0.1px;
      }
    }

    &--image {
      display: none;
    }
  }

  .digital {
    h2 {
      margin-bottom: 30px;
      padding: 0 15px;
      font-size: 29px;
      line-height: 1.17;
      letter-spacing: 0;

      &::before {
        top: 3px;
        left: 8px;
        width: 12px;
        height: 22px;
        background-size: 12px 22px;
      }
    }

    &--speciality {
      margin-bottom: 40px;

      &--heading {
        margin-bottom: 60px;
        padding: 0 15px;

        h4 {
          float: none;
          top: 0;
          max-width: 100%;
          margin: 0;
          font-size: 13px;
          line-height: 1.54;
          letter-spacing: 0.2px;

          br {
            display: none;
          }
        }
      }

      &--circle {
        margin: 0 auto;
        width: 290px;
        height: 271px;
        background-size: 290px 271px;

        .circle--item--image {
          margin-bottom: 5px;
        }

        .circle--item--title {
          font-size: 10px;
          line-height: 1.2;
          letter-spacing: 0.1px;
        }

        .circle--item.commerce {
          top: 30px;
          left: 0;

          .circle--item--image {
            max-width: 75px;
          }

          .circle--item--title {
            padding-left: 16px;
          }
        }

        .circle--item.mobility {
          top: 0;
          right: -10px;

          .circle--item--image {
            max-width: 73px;
          }
        }

        .circle--item.apps {
          top: 145px;
          right: -20px;

          .circle--item--image {
            max-width: 81px;
          }

          .circle--item--title {
            max-width: 100px;
            padding-left: 5px;
          }
        }

        .circle--item.services {
          top: 195px;
          left: 45px;

          .circle--item--image {
            max-width: 72px;
          }

          .circle--item--title {
            padding-left: 15px;
          }
        }
      }

      &--description {
        margin-top: 80px;
        max-width: 100%;
        padding: 0 15px;

        p {
          margin: 0 0 20px 0;
          font-size: 12px;
          line-height: 1.58;
          letter-spacing: 0.1px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &--services {
      display: block;
      padding-left: 15px;

      &--item {
        width: 270px;
        height: 420px;

        h5 {
          margin-bottom: 20px;
          font-size: 16px;
        }

        ul li {
          font-size: 14px;
        }

        &.management {
          background-image: url("../img/management-small.png");
          background-image: -webkit-image-set("../img/management-small.png" 1x, "../img/management-small@2x.png" 2x, "../img/management-small@3x.png" 3x);
          background-image: image-set("../img/management-small.png" 1x, "../img/management-small@2x.png" 2x, "../img/management-small@3x.png" 3x);
        }

        &.programming {
          background-image: url("../img/programming-small.png");
          background-image: -webkit-image-set("../img/programming-small.png" 1x, "../img/programming-small@2x.png" 2x, "../img/programming-small@3x.png" 3x);
          background-image: image-set("../img/programming-small.png" 1x, "../img/programming-small@2x.png" 2x, "../img/programming-small@3x.png" 3x);
        }

        &.interfaces {
          background-image: url("../img/interfaces-small.png");
          background-image: -webkit-image-set("../img/interfaces-small.png" 1x, "../img/interfaces-small@2x.png" 2x, "../img/interfaces-small@3x.png" 3x);
          background-image: image-set("../img/interfaces-small.png" 1x, "../img/interfaces-small@2x.png" 2x, "../img/interfaces-small@3x.png" 3x);
        }

        + .digital--services--item {
          margin-left: 20px;
        }
      }
    }
  }

  .projects {
    .quote-heading {
      max-width: 290px;
    }

    h2::before {
      top: -4px;
      left: 42px;
      width: 22px;
      height: 12px;
      background-size: 22px 12px;
    }

    &--list {
      display: none;
    }

    &--list--mobile {
      display: block;
    }

    .show-link {
      display: none;
    }
  }

  .clients {
    h2 {
      padding: 0 15px;

      &::before {
        top: 3px;
        left: 8px;
        width: 12px;
        height: 22px;
        background-size: 12px 22px;
      }
    }

    &--list {
      display: none;
    }

    &--list--mobile {
      display: block;
    }
  }

  .team {
    &.block {
      padding-bottom: 60px;
    }

    .quote {
      max-width: 270px;
    }

    h2::before {
      top: -4px;
      left: 22px;
      width: 22px;
      height: 12px;
      background-size: 22px 12px;
    }

    &--list {
      display: none;
    }

    &--list--mobile {
      display: block;
    }
  }

  .testimonial {
    h2 {
      padding: 0 15px;

      &::before {
        top: 2.5px;
        left: 8px;
        width: 12px;
        height: 22px;
        background-size: 12px 22px;
      }
    }

    &--slider {
      max-width: 100%;
      margin: 70px 0 0 0;
      padding-left: 15px;

      &--item {
        width: 270px;
        min-height: 315px;
        margin: 0;
        padding: 30px 15px;

        + .testimonial--slider--item {
          margin-left: 20px;
        }

        .person--avatar {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .person--info {
          max-width: 170px;

          &--name {
            font-size: 14px;
            line-height: 1;
          }

          &--credentials {
            display: block;
          }

          &--position,
          &--company {
            font-size: 12px;
            line-height: 1.29;
            letter-spacing: 0.1px;
          }

          &--company {
            margin-left: 0;
          }
        }

        .person--feedback {
          margin: 30px 0 0 0;
          padding-top: 30px;
          font-size: 12px;
          line-height: 1.58;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}