.privacy.block {
  padding: 150px 0 80px;

  h1 {
    margin-bottom: 40px;
    color: black;
    font-size: 46px;
    font-weight: normal;
    line-height: 1.22;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: -6px;
      width: 17px;
      height: 34px;
      background: url("../img/svg/triangle-right-small.svg") 0 0 no-repeat;
    }
  }

  p {
    color: #4a4a4a;
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.2px;

    > strong {
      font-family: $font_gotham_bold;
      font-weight: normal;
    }
  }
}

.privacy--item {
  margin-top: 60px;

  h2 {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.5px;
  }

  p {
    margin-bottom: 25px;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    color: #4a4a4a;
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.2px;

    + li {
      margin-top: 25px;
    }

    > p {
      margin-top: 25px;
    }
  }
}

.cookies--table {
  width: 536px;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    width: 50%;
    min-height: 46px;
    padding: 10px;
    color: #4a4a4a;
    font-family: $font_gotham_bold;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.69;
    letter-spacing: 0.2px;
    text-align: center;
    border: solid 1px #999999;
  }

  td {
    min-height: 46px;
    padding: 10px;
    color: #4a4a4a;
    font-family: $font_gotham_regular;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.69;
    letter-spacing: 0.2px;
    text-align: center;
    border: solid 1px #999999;
  }
}

@media screen and (max-width: 1220px) {
  .privacy.block h1 {
    padding-left: 6px;

    &::before {
      left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .privacy.block {
    padding: 76px 15px 50px;

    h1 {
      margin-bottom: 20px;
      padding-left: 3px;
      font-size: 22px;
      line-height: 1.27;

      &::before {
        top: 6px;
        width: 9px;
        height: 16px;
        background-size: 9px 16px;
      }
    }

    p {
      font-size: 11px;
      line-height: 1.55;
      letter-spacing: 0.1px;
    }
  }

  .cookies--table {
    width: 100%;

    th,
    td {
      font-size: 11px;
      letter-spacing: 0.1px;
      line-height: 1.3;
    }
  }

  .privacy--item {
    margin-top: 25px;

    h2 {
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 1.33;
      letter-spacing: 0.3px;
    }

    li {
      font-size: 11px;
      line-height: 1.55;
      letter-spacing: 0.1px;

      + li {
        margin-top: 20px;
      }
    }
  }
}