.project {
  width: 100%;
  max-width: 100%;

  .content-wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
  }

  .aligner {
    display: flex;
    justify-content: space-between;
  }

  .step {
    color: #909090;
    font-family: $font_gotham_bold;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .section-heading {
    margin-top: 35px;
    max-width: 720px;
    color: black;
    font-family: $font_gotham_bold;
    font-size: 48px;
    font-weight: normal;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  &--hero {
    background-color: #26348b;
    overflow: hidden;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1150px;
      padding: 20px 20px 0;
    }

    .title {
      max-width: 440px;

      h1 {
        color: white;
        font-family: $font_gotham_bold;
        font-size: 58px;
        font-weight: normal;
        line-height: 61px;
        letter-spacing: 0.02em;
      }

      p {
        margin-top: 24px;
        max-width: 380px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
    }

    .image {
      position: relative;
      bottom: -1px;

      img {
        display: block;
      }

      .img-mobile {
        display: none;
      }
    }
  }

  &--info {
    padding: 95px 0;
    background-color: #fafafa;
    border-bottom: 1px solid #d9d8d8;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      padding: 0 20px;
    }

    .brief {
      width: 100%;
      max-width: 370px;

      &--row {
        + .brief--row {
          margin-top: 45px;
        }

        &--title {
          color: #202020;
          font-family: $font_gotham_bold;
          font-size: 14px;
          font-weight: normal;
          line-height: 13px;
          letter-spacing: 0.02em;
        }

        &--info {
          margin-top: 10px;
          color: #202020;
          font-family: $font_gotham_regular;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.5;
          letter-spacing: 0.02em;
        }

        &.line {
          display: flex;
          align-items: center;

          .brief--row--info {
            margin: 0 0 0 20px;
            display: flex;
            align-items: center;

            a {
              display: inline-block;

              img {
                display: block;
              }

              + a {
                margin-left: 30px;
              }
            }
          }
        }
      }
    }

    .description {
      width: 100%;
      max-width: 550px;

      hr {
        margin: 20px 0;
        width: 100%;
        height: 1px;
        background-color: #d9d8d8;
        border: 0;
      }

      p {
        margin: 0;
        color: #202020;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;

        + p {
          margin-top: 20px;
        }
      }
    }
  }

  .functionality {
    padding: 80px 0 165px;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
    }

    .aligner {
      margin-top: 50px;
    }

    &--accordion {
      max-width: 490px;

      li {
        padding-left: 73px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        position: relative;
        cursor: pointer;

        .content {
          margin: 27px 0 85px;
          display: none;

          p {
            margin: 0;
            color: #202020;
            font-size: 16px;
            font-weight: normal;
            line-height: 28px;
            letter-spacing: 0.01em;

            + p {
              margin-top: 20px;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -4.5px;
          left: 0;
          width: 30px;
          height: 30px;
          border: 3px solid transparent;
          border-radius: 50%;
          transition: border 0.3s, transform 0.5s;
          z-index: 2;
        }

        &::after {
          content: "";
          position: absolute;
          top: -4.5px;
          left: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transform: scale(0);
          transition: transform 0.5s;
          z-index: 3;
        }

        &.wiki {
          &::before {
            border-color: #1988e8;
          }

          &::after {
            background-color: #1988e8;
          }
        }

        &.interactive {
          &::before {
            border-color: #ff8d6e;
          }

          &::after {
            background-color: #ff8d6e;
          }
        }

        &.social {
          &::before {
            border-color: #483245;
          }

          &::after {
            background-color: #483245;
          }
        }

        &.marketplace {
          &::before {
            border-color: #18a152;
          }

          &::after {
            background-color: #18a152;
          }
        }

        &.active {
          &::before {
            transform: scale(1.4);
            border-width: 2px;
          }

          &::after {
            transform: scale(1);
          }
        }

        + li {
          margin-top: 38px;
        }
      }
    }

    .carousel {
      display: none;
      top: -50px;
      width: 100%;
      max-width: 590px;
      height: 590px;
      perspective: 375px;
      transform-style: preserve-3d;
      transform-origin: 0% 50%;
      overflow: hidden;
      position: relative;

      &.adaptive {
        display: none;
        margin-top: 20px;
      }

      &.selected {
        display: block;
      }

      &-item {
        visibility: hidden;
        width: 250px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }

  .platform {
    background-color: #26348b;

    .content-wrapper {
      display: block;
      max-width: 1440px;
      padding-top: 70px;
      padding-bottom: 135px;
      position: relative;
    }

    .circle {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: 297px;
      height: 297px;
      background: url("../img/project-artchive/circle.svg") 0 0 no-repeat;
    }

    .apple-dude {
      position: absolute;
      bottom: 0;
      right: 120px;
      width: 192px;
      height: 398px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../img/project-artchive/apple-dude.png");
      background-image: -webkit-image-set("../img/project-artchive/apple-dude.png" 1x, "../img/project-artchive/apple-dude@2x.png" 2x);
      background-image: image-set("../img/project-artchive/apple-dude.png" 1x, "../img/project-artchive/apple-dude@2x.png" 2x);
    }

    .rhomb {
      position: absolute;
      top: 70px;
      left: 383px;
      width: 38px;
      height: 38px;
      background: url("../img/project-artchive/rhomb.svg") 0 0 no-repeat;
    }

    .small-circle {
      position: absolute;
      right: 522px;
      bottom: 25px;
      width: 60px;
      height: 60px;
      border: 5px solid white;
      border-radius: 50%;
    }

    .text-content {
      width: 100%;
      max-width: 825px;
      margin: 0 auto;
      text-align: center;

      .planet {
        display: block;
        margin: 0 auto;
      }

      h4 {
        margin-top: 10px;
        color: white;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.02em;
      }

      p {
        margin: 10px 0 0;
        color: white;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
      }
    }
  }

  .apps {
    padding: 80px 0 150px;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
    }

    .aligner {
      max-width: 960px;
      align-items: center;
      position: relative;

      .circle {
        position: absolute;
        top: 0;
        right: -210px;
        width: 60px;
        height: 60px;
        border: 5px solid #1988e8;
        border-radius: 50%;
      }
    }

    &--info {
      width: 100%;
      max-width: 530px;
      padding-left: 77px;

      hr {
        margin: 20px 0;
        max-width: 390px;
        height: 1px;
        background-color: #d9d8d8;
        border: 0;
      }

      div {
        position: relative;

        &.app::before {
          content: "";
          position: absolute;
          top: -7px;
          left: -77px;
          width: 49px;
          height: 45px;
          background: url("../img/project-artchive/ic-house.svg") 0 0 no-repeat;
        }

        &.plat {
          margin-top: 25px;
        }

        p {
          margin: 0;
          color: #202020;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.01em;

          + p {
            margin-top: 25px;
          }
        }
      }
    }
  }

  .artchive-global {
    padding: 125px 0 105px;
    overflow: hidden;
    position: relative;

    .circle {
      position: absolute;
      width: 373px;
      height: 373px;
      background-color: #ff8d6e;
      border-radius: 50%;

      &.left {
        bottom: 43px;
        left: -253px;
      }

      &.right {
        top: 0px;
        right: -253px;
      }
    }

    .aligner {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 20px;

      > div {
        width: 100%;
        max-width: 490px;
        position: relative;

        h5 {
          margin-bottom: 13px;
          color: #202020;
          font-family: 'Noto Sans', sans-serif;
          font-weight: bold;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.01em;
        }

        p {
          color: #202020;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.01em;
        }
      }
    }

    .artchive-platform {
      padding-left: 65px;

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 48px;
        height: 48px;
        background: url("../img/project-artchive/ic-gallery.svg") 0 0 no-repeat;
      }

      .rhomb {
        position: absolute;
        width: 27px;
        height: 27px;
        bottom: 0;
        left: 65px;
        border: 5px solid #1988e8;
        transform: rotate(-45deg);
      }
    }

    .artchive-app {
      margin-top: 84px;
      padding-left: 67px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 56px;
        background: url("../img/project-artchive/ic-artist.svg") 0 0 no-repeat;
      }

      .circle-blue {
        position: absolute;
        top: -120px;
        left: 170px;
        width: 60px;
        height: 60px;
        border: 5px solid #1988e8;
        border-radius: 50%;
      }
    }
  }

  .automation {
    padding: 120px 0 170px;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1080px;
      padding: 0 20px;
    }

    &--task {
      max-width: 600px;

      img {
        display: none;
      }

      p {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #202020;

        + p {
          margin-top: 30px;
        }
      }
    }

    &--image img {
      display: block;
    }
  }

  .solution {
    padding: 120px 0;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      padding: 0 20px;
    }

    &--text {
      max-width: 500px;
      margin-right: 40px;

      &--info {
        padding-left: 10px;

        hr {
          margin: 20px 0;
        }

        > img {
          display: none;
        }

        .first {
          margin-top: 50px;
          padding-left: 60px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            width: 40px;
            height: 38px;
            background: url("../img/project-artchive/ic-exhibition.svg") 0 0 no-repeat;
          }

          p {
            margin: 0;
            color: #202020;
            font-weight: bold;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.01em;
          }

          hr {
            max-width: 390px;
          }
        }

        .second {
          margin-top: 25px;
          padding-left: 60px;
          position: relative;

          .arrows {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 40px;
            height: 100%;
            padding: 10px 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 19.5px;
            transform: translateY(-50%);
            width: 1px;
            height: 70%;
            border-left: 2px dotted #26348b;
          }

          p {
            margin: 0;
            color: #202020;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.01em;

            + p {
              margin-top: 30px;
            }
          }
        }
      }
    }

    &--image img {
      display: block;
    }
  }

  .app-automation {
    padding-top: 75px;
    background-color: #26348b;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      padding: 0 20px;
      position: relative;

      .rhomb {
        position: absolute;
        top: -5px;
        left: -100px;
        width: 26.87px;
        height: 26.87px;
        border: 5px solid white;
        transform: rotate(-45deg);
      }

      .circle-white {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid #ffffff;
      }
    }

    &--text {
      margin-right: 40px;

      .section-heading {
        color: white;
      }

      p {
        margin: 20px 0 0 0;
        color: white;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
    }
  }

  .tasks-list {
    padding: 120px 0;

    .content-wrapper {
      max-width: 1000px;
      padding: 0 20px;
    }

    .title {
      margin: 0;
      max-width: 660px;
      color: #202020;
      font-weight: bold;
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 0.01em;
    }

    .list {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;

      + .list {
        margin-top: 85px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -67px;
          left: 50%;
          margin-left: -0.5px;
          width: 1px;
          height: 50px;
          background: #c4c4c4;
          z-index: 2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 26px;
          left: 50%;
          margin-left: -422.5px;
          width: 845px;
          height: 1px;
          background: #c4c4c4;
          z-index: -1;
        }
      }

      li {
        max-width: 252px;

        .task {
          width: 250px;
          height: 250px;
          background-color: white;
          border-radius: 50%;

          &.aut {
            background: #ffff65 url("../img/project-artchive/automation.svg") 50% 50% no-repeat;
          }

          &.uni {
            background: #eed9dc url("../img/project-artchive/unification.svg") 50% 50% no-repeat;
          }

          &.api {
            background: #b3262e url("../img/project-artchive/api.svg") 50% 50% no-repeat;
          }
        }

        p {
          margin: 28px 0 0 0;
          font-size: 18px;
          line-height: 32px;
          color: #202020;
          text-align: center;
          letter-spacing: 0.01em;
        }

        .circle {
          width: 52px;
          height: 52px;
          margin: 0 auto;
          border-radius: 50%;

          &.rhomb {
            background: #ff8d6e url("../img/project-artchive/ic-rhomb.svg") 50% 50% no-repeat;
          }

          &.wave {
            background: #6b2d43 url("../img/project-artchive/ic-wave.svg") 50% 50% no-repeat;
          }

          &.triangle {
            background: #483245 url("../img/project-artchive/ic-triangle.svg") 50% 50% no-repeat;
          }
        }
      }
    }
  }

  .algorithm {
    padding: 60px 0 240px;
    background-color: #fafafa;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1150px;
      padding: 0 20px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &--info {
      max-width: 540px;
      margin-right: 40px;

      &--text {
        margin-top: 60px;
        padding-left: 80px;
        background: url("../img/project-artchive/ic-pictures.svg") 0 0 no-repeat;

        p {
          margin: 0;
          color: #202020;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.01em;

          + p {
            margin-top: 30px;
          }
        }
      }
    }

    &--image {
      margin-top: 25px;
      max-width: 466px;

      img {
        display: block;
      }
    }

    .steps-list {
      margin-top: 270px;
      width: 100%;
      padding-left: 80px;
      position: relative;

      .tooltip {
        position: absolute;
        bottom: calc(100% + 140px);
        left: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 167px;
        height: 167px;
        background-color: #ff8d6e;
        border-radius: 50%;

        .arrow {
          position: absolute;
          top: 78px;
          left: 0;
          width: 5px;
          height: 133.5px;
          background-color: #ff8d6e;

          &::before {
            content: "";
            position: absolute;
            bottom: -8px;
            left: -19px;
            width: 43px;
            height: 26px;
            background: url("../img/project-artchive/arr-head-pink.svg") 0 0 no-repeat;
          }
        }

        &--text {
          .image {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: white url("../img/project-artchive/ic-spray-pencil.svg") 50% 40% no-repeat;
            border-radius: 50%;
          }

          .text {
            margin-top: 10px;
            color: #202020;
            font-weight: bold;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 0.01em;
            text-align: center;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
      }

      li {
        width: 20%;
        position: relative;

        &:nth-child(1)::before,
        &:nth-child(3)::before {
          content: "";
          position: absolute;
          top: calc(100% + 30px);
          left: 0;
          width: 312px;
          height: 154px;
          background: url("../img/project-artchive/arrow-circle-bottom.svg") 0 0 no-repeat;
        }

        &:nth-child(2)::before {
          content: "";
          position: absolute;
          bottom: calc(100% + 30px);
          left: 0;
          width: 313px;
          height: 156px;
          background: url("../img/project-artchive/arrow-circle-top.svg") 0 0 no-repeat;
        }

        span {
          display: block;
          font-weight: bold;
          color: #202020;
          font-size: 64px;
          line-height: 1;
          letter-spacing: 0.01em;
        }

        p {
          margin: 0;
          max-width: 210px;
          color: #202020;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  .algorithm-structure {
    padding: 120px 0;

    .content-wrapper {
      display: flex;
      max-width: 1120px;
      padding: 0 20px;
      justify-content: space-between;
    }

    &--editor {
      margin-top: 9px;
      margin-right: 40px;
      max-width: 180px;

      .image {
        margin: 0 auto;
        width: 101px;
        height: 101px;
        background: #b3262e url("../img/project-artchive/editor.svg") 50% 12px no-repeat;
        border-radius: 50%;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -51px;
          margin-top: -21.5px;
          width: 26px;
          height: 43px;
          background: url("../img/project-artchive/arr-gray-right.svg") 0 0 no-repeat;
        }
      }

      p {
        margin: 25px 0 0 0;
        color: #202020;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.01em;
      }
    }

    &--block {
      width: 100%;
      max-width: 860px;

      .structure-list {
        width: 100%;
        padding-top: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 240px;
          height: 76px;
          background-color: #fafafa;
          border-radius: 120px;
          position: relative;

          &:nth-child(1)::before,
          &:nth-child(2)::before {
            content: "";
            position: absolute;
            top: 16.5px;
            right: -50px;
            width: 26px;
            height: 43px;
            background: url("../img/project-artchive/arr-gray-right.svg") 0 0 no-repeat;
          }

          span {
            color: #202020;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.01em;
            text-transform: uppercase;
          }

          .icon {
            position: absolute;
            top: -23px;
            left: 50%;
            margin-left: -22.5px;
            width: 45px;
            height: 45px;
            background-color: #eed9dc;
            border-radius: 50%;
            z-index: 2;

            &.rhomb {
              background: #eed9dc url("../img/project-artchive/rhomb-blue.svg") 50% 50% no-repeat;
            }

            &.wave {
              background: #eed9dc url("../img/project-artchive/wave-blue.svg") 50% 50% no-repeat;
            }

            &.triangle {
              background: #eed9dc url("../img/project-artchive/triangle-blue.svg") 50% 50% no-repeat;
            }
          }
        }
      }

      .routing-list {
        margin: 77px auto 0 auto;
        max-width: 800px;
        position: relative;

        .tooltip {
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
          width: 180px;
          color: #202020;
          text-align: center;
          font-size: 14px;
          line-height: 25px;
          letter-spacing: 0.01em;
          text-align: center;
        }

        .user {
          display: none;
          margin: 150px auto 0;
          width: 200px;
          height: 76px;
          justify-content: center;
          align-items: center;
          background-color: #fafafa;
          border-radius: 120px;
          position: relative;

          span {
            color: #202020;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.01em;
            text-transform: uppercase;
          }

          .arrow {
            content: "";
            position: absolute;
            top: -123px;
            left: 50%;
            margin-left: -2.5px;
            width: 5px;
            height: 75px;
            background-color: #dbd8d8;
            z-index: -1;

            &::before {
              content: "";
              position: absolute;
              bottom: -4px;
              left: -19px;
              width: 43px;
              height: 26px;
              background: url("../img/project-artchive/arr-gray-bottom-big.svg") 0 0 no-repeat;
            }
          }

          .icon {
            position: absolute;
            top: -23px;
            left: 50%;
            margin-left: -22.5px;
            width: 45px;
            height: 45px;
            background: #eed9dc url(../img/project-artchive/rhomb-blue.svg) 50% 50% no-repeat;
            border-radius: 50%;
            z-index: 2;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 24px;
          left: 90px;
          width: 622px;
          height: 5px;
          background-color: #dbd8d8;
          z-index: -1;
        }

        ul {
          display: flex;
          justify-content: space-between;
        }

        li {
          width: 100%;
          max-width: 180px;

          &.params::before {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 87.5px;
            width: 5px;
            height: 75.5px;
            background-color: #dbd8d8;
            z-index: -1;
          }

          .arrow {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 87.5px;
            width: 5px;
            height: 50px;
            background-color: #dbd8d8;
            z-index: -1;

            &::before {
              content: "";
              position: absolute;
              top: -4px;
              left: -19px;
              width: 43px;
              height: 26px;
              background: url("../img/project-artchive/arr-gray-top.svg") 0 0 no-repeat;
            }
          }

          .point {
            margin: 0 auto;
            width: 51px;
            height: 51px;
            background-color: #eed9dc;
            border-radius: 50%;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 15.5px;
              left: 15.5px;
              width: 20px;
              height: 20px;
              border: 5px solid #b3262e;
            }
          }

          p {
            margin: 32px 0 0;
            color: #202020;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 0.01em;
          }
        }
      }
    }
  }

  .creation-process {
    padding: 120px 0;

    .aligner {
      max-width: 1480px;
      margin: 0 auto;
      padding: 0 20px;
      justify-content: flex-start;
      align-items: center;
    }

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      margin-top: 90px;
      position: relative;
    }

    &--image img {
      display: block;
    }

    &--text {
      margin-left: 60px;
      max-width: 720px;

      p {
        max-width: 485px;
        margin: 60px 0 0 0;
        color: #202020;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
    }

    &--todo {
      width: 100%;
      max-width: 315px;
      margin-left: 245px;

      p {
        margin: 0;
        color: #202020;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
      }

      ul {
        margin-top: 70px;
      }

      li {
        padding-left: 50px;
        color: #202020;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 0.01em;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 0;
          width: 19px;
          height: 19px;
          background: #26348b;
          border-radius: 50%;
        }

        .dots {
          position: absolute;
          top: 31px;
          left: 6px;
          width: 7px;
          height: 7px;
          border: 1px solid #26348b;
          border-radius: 50%;

          &::before {
            content: "";
            position: absolute;
            top: 14px;
            left: -1px;
            width: 7px;
            height: 7px;
            border: 1px solid #26348b;
            border-radius: 50%;
          }

          &::after {
            content: "";
            position: absolute;
            top: 28px;
            left: -1px;
            width: 7px;
            height: 7px;
            border: 1px solid #26348b;
            border-radius: 50%;
          }
        }

        + li {
          margin-top: 49px;
        }

        &:last-child .dots {
          display: none;
        }
      }
    }

    &--mac {
      margin-right: -118px;

      img {
        display: block;
      }
    }
  }

  .end-result {
    padding-top: 30px;
    background-color: #26348b;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      padding: 0 20px;
    }

    &--text {
      width: 100%;
      margin-top: 20px;
      max-width: 310px;

      .section-heading {
        color: white;
      }

      p {
        margin: 15px 0 0;
        color: white;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
    }

    &--image {
      img {
        display: block;
      }

      .image {
        display: none;
      }
    }
  }

  .default-features {
    padding: 50px 0 80px;

    .content-wrapper {
      max-width: 960px;
    }

    .title {
      margin: 0;
      max-width: 316px;
      color: #202020;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.01em;
    }

    .features-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      position: relative;
      left: -40px;

      li {
        width: 25%;
        margin-bottom: 55px;

        .icon {
          margin: 0 auto;
          width: 160px;
          height: 160px;
          background-color: #eed9dc;
          border-radius: 15px;

          &.news {
            background: #eed9dc url("../img/project-artchive/ic-news.svg") 50% 50% no-repeat;
          }

          &.info {
            background: #eed9dc url("../img/project-artchive/ic-info.svg") 50% 50% no-repeat;
          }

          &.messenger {
            background: #eed9dc url("../img/project-artchive/ic-messenger.svg") 50% 50% no-repeat;
          }

          &.collections {
            background: #eed9dc url("../img/project-artchive/ic-collections.svg") 50% 50% no-repeat;
          }

          &.purchase {
            background: #eed9dc url("../img/project-artchive/ic-purchase.svg") 50% 50% no-repeat;
          }

          &.order {
            background: #eed9dc url("../img/project-artchive/ic-order.svg") 50% 50% no-repeat;
          }

          &.id {
            background: #eed9dc url("../img/project-artchive/ic-id.svg") 50% 50% no-repeat;
          }
        }

        p {
          margin: 20px auto 0;
          max-width: 190px;
          color: #202020;
          font-size: 14px;
          font-weight: bold;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  .artchive-apps {
    padding: 45px 0 80px;

    .content-wrapper {
      max-width: 1070px;
      padding: 0 20px;
    }

    &--title {
      text-align: center;

      h3 {
        margin: 0 0 10px;
        color: #202020;
        font-size: 24px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.01em;
      }

      p {
        margin: 0;
        color: #202020;
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0.01em;
      }
    }

    &--list {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;

      ul {
        max-width: 296px;
      }

      li + li {
        margin-top: 20px;
      }

      &--item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 11px 0 11px 11px;
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.3s;
        position: relative;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: -11px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 0 18px 11px;
          border-color: transparent transparent transparent #26348b;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s, visibility 0.3s;
        }

        img {
          width: 84px;
          height: 85px;
        }

        p {
          margin: 0 30px 0;
          color: black;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
          transition: color 0.3s;
        }

        &:hover,
        &.active {
          background-color: #26348b;

          &::before {
            opacity: 1;
            visibility: visible;
          }

          p {
            color: white;
          }
        }
      }
    }

    &--slider {
      width: 555px;
      display: none;

      &.selected {
        display: block;
      }

      > img {
        display: block;
      }

      .carousel {
        width: 100%;
        height: 520px;
        perspective: 375px;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        overflow: hidden;
        position: relative;

        &-item {
          visibility: hidden;
          width: 250px;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
        }
      }

      .apps-links {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .link + .link {
          margin-left: 28px;
        }

        .link svg path {
          transition: fill 0.3s;
        }

        .link:hover svg path {
          fill: #26348b;
        }
      }
    }

    &--slider-mobile {
      width: 100%;
      display: none;

      > img {
        display: block;
      }

      .carousel {
        width: 100%;
        height: 350px;
        perspective: 375px;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        overflow: hidden;
        position: relative;

        &-item {
          visibility: hidden;
          width: 166px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .apps-links {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .link + .link {
          margin-left: 28px;
        }

        .link svg path {
          transition: fill 0.3s;
        }

        .link:hover svg path {
          fill: #26348b;
        }
      }
    }
  }

  .service-components {
    padding: 80px 0;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
    }

    &-block {
      margin-top: 45px;
      display: flex;
      justify-content: space-between;
    }

    &--text {
      width: 100%;
      max-width: 540px;
      padding-left: 70px;
      margin-right: 40px;
      background: url("../img/project-artchive/ic-components.svg") 0 0 no-repeat;

      p {
        margin: 0;
        color: #202020;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;

        + p {
          margin-top: 30px;
        }
      }
    }

    &--image {
      position: relative;
      margin-right: -280px;

      img {
        display: block;
        min-width: 775px;
      }
    }
  }

  .components-structure {
    padding: 45px 0 90px;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;

    .rhomb {
      width: 27px;
      height: 27px;
      position: absolute;
      top: 103px;
      left: 164px;
      transform: rotate(-45deg);
      border: 5px solid #1988e8;
    }

    .circle {
      position: absolute;
      width: 373px;
      height: 373px;
      background-color: #ff8d6e;
      border-radius: 50%;

      &.left {
        bottom: 35px;
        left: -253px;
      }

      &.right {
        top: 126px;
        right: -253px;
      }
    }

    .blue-circle {
      position: absolute;
      bottom: 112px;
      right: 176px;
      width: 60px;
      height: 60px;
      border: 5px solid #1988e8;
      border-radius: 50%;
    }

    .content-wrapper {
      max-width: 890px;
    }

    &-block {
      margin-top: 75px;

      .double-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 52px;
        height: 2px;
        background-color: #909090;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 10px 6px 0;
          border-color: transparent #909090 transparent transparent;
          z-index: 3;
        }

        &::after {
          content: "";
          position: absolute;
          top: -5px;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 10px;
          border-color: transparent transparent transparent #909090;
          z-index: 3;
        }

        &.top-bot {
          width: 2px;
          height: 48px;
          top: calc(100% + 20px);
          transform: translateY(0);

          &::before {
            border-width: 0 5px 12px 5px;
            border-color: transparent transparent #909090 transparent;
            top: -2px;
            left: -4px;
          }

          &::after {
            border-width: 12px 5px 0 5px;
            border-color: #909090 transparent transparent transparent;
            top: auto;
            bottom: -2px;
            right: -4px;
          }
        }
      }

      .layer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .adm-db {
          width: 456px;
          padding: 15px;
          background-color: white;
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          position: relative;

          ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 76px;
            color: #202020;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.01em;
            border: 1px solid #d9d8d8;
            border-radius: 10px;
          }
        }

        .git {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 106px;
          background-color: #26348b;
          color: white;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          position: relative;

          .arrow-bot {
            position: absolute;
            top: calc(100% + 30px);
            left: 50%;
            margin-left: -1px;
            width: 2px;
            height: 38px;
            background-color: #909090;
            z-index: 2;

            &::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: -4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 12px 5px 0 5px;
              border-color: #909090 transparent transparent transparent;
              z-index: 3;
            }
          }
        }
      }

      .layer-middle {
        margin-top: 90px;
        background-color: white;
        padding: 15px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        position: relative;

        .double-arrow {
          width: 90px;
        }

        ul {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 360px;
          min-height: 90px;
          color: #202020;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.01em;
          border: 1px solid #d9d8d8;
          border-radius: 10px;
        }
      }

      .layer-bot {
        margin-top: 105px;
        position: relative;

        .arrows {
          position: absolute;
          top: -70px;
          left: 50%;
          margin-left: -267.5px;
          width: 535px;
          height: 2px;
          background-color: #909090;

          .double-arrow {
            top: -23px;
            left: 0;
          }

          .arrow-bot {
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 24px;
            background-color: #909090;
            z-index: 2;

            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: -4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 12px 5px 0 5px;
              border-color: #909090 transparent transparent transparent;
              z-index: 3;
            }
          }
        }

        .os-block {
          display: flex;
          justify-content: center;
          width: 100%;
          max-width: 362px;
          padding-bottom: 35px;
          background-color: white;
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
          border-radius: 10px;

          ul {
            text-align: center;
            position: relative;
            top: -31px;

            li {
              color: #909090;
              font-size: 14px;
              line-height: 16px;

              + li {
                margin-top: 20px;
              }
            }

            .badge {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
              width: 177px;
              height: 62px;
              background-color: #ff8d6e;
              color: #202020;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.01em;
              box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .sdk {
    padding: 75px 0 95px;

    .content-wrapper {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--image img {
      display: block;
    }

    &--info {
      width: 100%;
      max-width: 430px;

      &--text {
        margin-top: 40px;

        .mobile-link {
          display: none;
        }

        p {
          margin: 0;
          color: #202020;
          font-size: 18px;
          font-weight: bold;
          line-height: 32px;
          letter-spacing: 0.01em;
        }

        ul {
          margin-top: 10px;
        }

        li {
          padding: 10px 0;
          color: #202020;
          font-size: 14px;
          line-height: 25px;
          letter-spacing: 0.01em;
          position: relative;
        }

        img {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .app-updates {
    padding: 75px 0 45px;
    background: #26348b url("../img/project-artchive/half-circle.svg") 0 50% no-repeat;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
    }

    &--info {
      width: 100%;
      max-width: 415px;

      .section-heading {
        margin-bottom: 30px;
        color: white;
      }

      p {
        margin: 0;
        color: white;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;

        &:last-child {
          font-size: 17px;
        }
      }

      hr {
        margin: 50px 0;
      }
    }

    &--image {
      img {
        display: block;
      }

      .mobile-img {
        display: none;
      }
    }
  }

  .final-result {
    padding: 70px 0 85px;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--info {
      width: 100%;
      max-width: 540px;
      margin-right: 40px;

      &--text {
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 70px;
        background: url("../img/project-artchive/ic-ruler-pencil.svg") 0 0 no-repeat;

        p {
          margin: 0;
          color: #202020;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.01em;

          + p {
            margin-top: 30px;
          }
        }
      }
    }

    &--image {
      position: relative;

      img {
        display: block;
      }
    }

    &--list {
      margin: 45px auto 0 auto;
      max-width: 1140px;
      display: flex;
      justify-content: center;

      + .final-result--list {
        margin-top: 85px;
      }

      li {
        width: 250px;
        text-align: center;

        + li {
          margin-left: 74px;
        }

        img {
          display: block;
          margin: 0 auto;
        }

        span {
          display: block;
          margin-top: 20px;
          color: #000000;
          font-family: $font_gotham_bold;
          font-size: 24px;
          font-weight: normal;
          line-height: 23px;
        }

        p {
          margin: 10px 0 0 0;
          color: #202020;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  .runet-awards {
    padding: 80px 0 90px;
    position: relative;

    .content-wrapper {
      max-width: 950px;
    }

    &--info {
      width: 100%;
      max-width: 440px;

      &--text {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        p {
          margin: 0 0 0 40px;
          color: #202020;
          font-size: 14px;
          line-height: 25px;
          letter-spacing: 0.01em;
        }
      }

      > p {
        margin: 0;
        color: #202020;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;

        + p {
          margin-top: 45px;
        }
      }
    }

    &--slider {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
      max-width: 860px;

      .slick-slide {
        cursor: pointer;

        + .slick-slide {
          margin-left: 50px;
        }

        img {
          border-radius: 30px;
        }
      }

      .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 0;

        li button {
          width: 61px;
          height: 3px;
          background: #c4c4c4;
          border-radius: 0;
          border: 0;
        }

        .slick-active button {
          background-color: #26348b;
        }
      }
    }
  }

  .project-management {
    padding-top: 65px;
    background-color: #26348b;

    .circle {
      position: absolute;
      top: 28px;
      left: 10px;
      width: 60px;
      height: 60px;
      border: 5px solid #ffffff;
      border-radius: 50%;
    }

    .rhomb-circle {
      position: absolute;
      top: 0;
      right: 40px;
      width: 214px;
      height: 214px;
      background: url("../img/project-artchive/rhomb-circle.png") 0 0 no-repeat;
    }

    .rhomb {
      position: absolute;
      top: 61px;
      left: 780px;
      width: 27px;
      height: 27px;
      border: 5px solid #fafafa;
      transform: rotate(-45deg);
    }

    .rhomb-small {
      position: absolute;
      top: 135px;
      left: 720px;
      width: 20px;
      height: 20px;
      border: 5px solid #fafafa;
      transform: rotate(-45deg);
    }

    .content-wrapper {
      max-width: 1230px;
      padding: 0 20px 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
    }

    &--info {
      width: 100%;
      max-width: 520px;
      margin-right: 40px;
      padding-bottom: 65px;
      position: relative;
      z-index: 2;

      &--lead {
        display: flex;
        width: 100%;
        align-items: center;

        > div {
          margin-left: 35px;

          h4 {
            margin: 0;
            color: #fafafa;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.01em;
          }

          p {
            margin: 0;
            color: #fafafa;
            font-size: 20px;
            line-height: 1.1;
            letter-spacing: 0.01em;
          }
        }
      }

      > p {
        margin: 0;
        padding-left: 150px;
        color: white;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.01em;

        + p {
          margin-top: 30px;
        }
      }
    }

    &--image {
      max-width: 485px;

      img {
        display: block;
      }

      .mobile-img {
        display: none;
      }
    }
  }

  .feedback {
    padding: 120px 0 45px;

    .content-wrapper {
      max-width: 1150px;
      padding: 0 20px;
    }

    .feedback-wrapper {
      padding-right: 125px;
      position: relative;
    }

    &-title {
      display: none;
      margin-left: 15px;

      h6 {
        margin: 0;
        color: #202020;
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
        font-weight: bold;
      }

      span {
        display: block;
        margin-top: 5px;
        font-size: 13px;
      }
    }

    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      + .feedback-row {
        margin-top: 100px;
        padding-left: 120px;
      }

      .feedback--image {
        margin-top: 80px;
        width: 126px;
        height: 126px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/project-artchive/ceo-artchive.png");
        background-image: -webkit-image-set("../img/project-artchive/ceo-artchive.png" 1x, "../img/project-artchive/ceo-artchive@2x.png" 2x);
        background-image: image-set("../img/project-artchive/ceo-artchive.png" 1x, "../img/project-artchive/ceo-artchive@2x.png" 2x);
        position: relative;

        .badge {
          position: absolute;
          top: 87px;
          left: 91px;
          width: 44px;
          height: 44px;
          background: url("../img/project-artchive/badge.svg") 0 0 no-repeat;
          z-index: 2;
        }
      }

      .feedback-circle {
        width: 263px;
        height: 263px;
        background: url("../img/project-artchive/feedback-circle.svg") 0 0 no-repeat;
      }
    }

    .blue-circle {
      position: absolute;
      top: -24px;
      right: -125px;
      width: 48px;
      height: 48px;
      border: 5px solid #26348b;
      border-radius: 50%;
      z-index: -1;
    }

    &-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 660px;
      padding: 40px 30px 40px 50px;
      background-color: white;
      border-radius: 12px;
      border: 2px solid #f1f1f1;

      &--heading {
        display: flex;
        justify-content: space-between;

        .title {
          h6 {
            margin: 0;
            color: #202020;
            font-family: 'Noto Sans', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.01em;
          }

          span {
            display: inline-block;
            margin-top: 10px;
            color: #202020;
            font-size: 16px;
            letter-spacing: 0.01em;
          }
        }

        .date {
          color: #b4b4b4;
          font-family: $font_gotham_bold;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }

      &--content {
        margin-top: 20px;

        p {
          margin: 0;
          color: #202020;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.01em;
        }
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .project .runet-awards--slider {
    right: -200px;
  }
}

@media screen and (max-width: 1480px) {
  .project .app-updates {
    background-position-x: -50px;
  }
}

@media screen and (max-width: 1440px) {
  .project .app-automation .content-wrapper .rhomb {
    left: -50px;
  }

  .project .components-structure .blue-circle {
    bottom: 40px;
    right: 5%;
  }
}

@media screen and (max-width: 1420px) {
  .project .platform {
    .circle {
      width: 250px;
      height: 250px;
      background-size: cover;
    }

    .apple-dude {
      right: 40px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .project .functionality,
  .project .apps,
  .project .automation,
  .project .solution,
  .project .tasks-list,
  .project .algorithm-structure,
  .project .app-updates,
  .project .feedback {
    padding: 80px 0;
  }

  .project .app-automation .content-wrapper .rhomb {
    left: 200px;
    top: -30px;
  }

  .project .creation-process--todo {
    margin-left: 100px;
  }

  .project .app-updates {
    background-position-x: -80px;
  }
}

@media screen and (max-width: 1340px) {
  .project .platform {
    .circle {
      width: 200px;
      height: 200px;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1320px) {
  .project .app-updates {
    background: #26348b;
  }

  .project .runet-awards--slider {
    right: -300px;
  }
}

@media screen and (max-width: 1280px) {
  .project .apps .aligner .circle {
    right: -150px;
  }

  .project .platform {
    .circle {
      top: 30px;
      transform: translateY(0);
    }

    .apple-dude {
      width: 150px;
      height: 311px;
      background-size: cover;
    }
  }

  .project .artchive-global .circle {
    &.left {
      left: -300px;
    }

    &.right {
      right: -300px;
    }
  }

  .project .algorithm .steps-list li {
    width: 25%;

    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      width: 280px;
      height: 138px;
      background-size: cover;
    }
  }

  .project .components-structure {
    .rhomb {
      left: 5%;
    }

    .circle {
      &.left {
        left: -333px;
      }

      &.right {
        right: -333px;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .project .apps .aligner .circle {
    display: none;
  }

  .project .platform {
    .circle {
      display: none;
    }

    .apple-dude {
      display: none;
    }

    .rhomb {
      left: 100px;
    }

    .small-circle {
      right: 100px;
    }
  }

  .project .solution .content-wrapper {
    align-items: center;
  }

  .project .artchive-global .circle {
    &.left {
      left: -333px;
    }

    &.right {
      right: -333px;
    }
  }

  .project .app-automation .content-wrapper .circle-white {
    transform: translateY(0);
    bottom: 30px;
  }

  .project .service-components-block {
    align-items: center;
  }

  .project .service-components--text {
    width: auto;
  }

  .project .app-updates .content-wrapper {
    align-items: center;
  }

  .project .final-result--info {
    width: auto;
  }
}

@media screen and (max-width: 1140px) {
  .project .functionality {
    .functionality--accordion {
      max-width: 430px;
    }

    .carousel {
      top: 0;
      max-width: 500px;
      height: 520px;
      perspective: 300px;

      &-item {
        width: 230px;
      }
    }
  }

  .project .runet-awards--slider {
    right: -400px;
  }
}

@media screen and (max-width: 1080px) {
  .project .artchive-global .aligner > div {
    max-width: 450px;
  }

  .project .algorithm .steps-list li {
    padding-right: 20px;

    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      width: 260px;
      height: 128px;
    }
  }

  .project .algorithm-structure--block .structure-list li {
    width: 200px;

    span {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .project .algorithm .steps-list .tooltip {
    bottom: 0;
    top: -250px;
  }
}

@media screen and (max-height: 700px) {
  .project .sdk--image img {
    max-height: 550px;
  }

  .project .artchive-apps--slider > img {
    max-height: 480px;
    margin: 0 auto;
  }
}

//  Стили под mobile

@media screen and (max-width: 1024px) {
  .project {
    padding-top: 46px;

    .step {
      font-size: 16px;
      line-height: 20px;
    }

    .section-heading {
      margin-top: 10px;
      font-size: 24px;
      line-height: 124.41%;
    }

    &--hero .content-wrapper {
      display: block;
      padding: 40px 0 0;

      .title {
        max-width: 350px;
        padding: 0 15px;

        h1 {
          font-size: 29px;
          line-height: 1.1;
        }

        p {
          margin: 15px 0 0;
          max-width: 230px;
          font-size: 13px;
          line-height: 177.04%;
        }
      }

      .image {
        margin-top: 40px;
        bottom: 0;

        img {
          display: none;
        }

        .img-mobile {
          display: block;
          margin: 0 auto;
        }
      }
    }

    &--info {
      padding: 20px 0;
      box-shadow: 0px -14px 10px rgba(0, 0, 0, 0.05);
      border-bottom: 0;

      .content-wrapper {
        display: block;
        padding: 0;
      }

      .brief {
        max-width: 100%;
        padding: 0 15px 30px;

        &--row + .brief--row {
          margin-top: 15px;
        }

        &--row.line .brief--row--info {
          margin-left: 40px;

          img {
            max-width: 20px;

            + img {
              margin-left: 20px;
            }
          }
        }

        &--row--title {
          margin: 0;
          font-size: 13px;
          line-height: 12px;
        }

        &--row--info {
          margin-top: 10px;
          font-size: 12px;
          line-height: 1.5;
        }
      }

      .description {
        padding: 30px 15px;

        hr {
          margin: 15px 0;
        }

        p {
          font-size: 12px;
          line-height: 177.04%;
        }
      }
    }

    .functionality {
      padding: 30px 0 40px;

      .content-wrapper {
        padding: 0 15px;
      }

      .aligner {
        margin-top: 30px;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .carousel {
        display: none;
        max-width: 100%;
        order: 1;
        height: 280px;
        perspective: 340px;

        &.adaptive {
          display: block;
        }

        &.selected {
          display: none;
        }

        &-item {
          width: 140px;
        }
      }

      .functionality--accordion {
        margin-top: 35px;
        max-width: 100%;
        order: 2;

        li {
          padding-left: 50px;
          font-size: 14px;
          line-height: 177.04%;

          &::before,
          &::after {
            top: 0;
            width: 22px;
            height: 22px;
          }

          .content {
            margin: 10px 0 40px;

            p {
              font-size: 12px;
              line-height: 177.04%;
            }
          }
        }
      }
    }

    .platform {
      .content-wrapper {
        padding: 45px 15px 150px;
      }

      .text-content {
        max-width: 100%;

        h4 {
          font-size: 24px;
          line-height: 124.41%;
        }

        p {
          font-size: 14px;
          line-height: 124.41%;
        }
      }

      .rhomb {
        top: 58px;
        left: 15px;
        width: 22px;
        height: 22px;
        background: url("../img/project-artchive/rhomb-m.svg") 0 0 no-repeat;
      }

      .small-circle {
        right: 15px;
        bottom: 94px;
        width: 32px;
        height: 32px;
      }

      .apple-dude {
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: -52px;
        width: 104px;
        height: 128px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/project-artchive/apple-dude-m.png");
        background-image: -webkit-image-set("../img/project-artchive/apple-dude-m.png" 1x, "../img/project-artchive/apple-dude-m@2x.png" 2x);
        background-image: image-set("../img/project-artchive/apple-dude-m.png" 1x, "../img/project-artchive/apple-dude-m@2x.png" 2x);
      }
    }

    .apps {
      padding: 40px 0;
      overflow: hidden;

      .content-wrapper {
        padding: 0 15px;
        position: relative;

        > .circle {
          position: absolute;
          top: 30px;
          right: -30px;
          width: 60px;
          height: 60px;
          border: 5px solid #1988e8;
          border-radius: 50%;
        }
      }

      .section-heading {
        padding-right: 60px;
      }

      .aligner {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      &--info {
        max-width: 100%;
        margin-top: 20px;
        padding-left: 50px;
        order: 2;

        div {
          &.app {
            &::before {
              top: -4px;
              left: -50px;
              width: 29px;
              height: 27px;
              background-size: 29px 27px;
            }

            span {
              font-weight: bold;
            }
          }

          p {
            font-size: 13px;
            line-height: 177.04%;

            + p {
              margin-top: 20px;
            }
          }

          &.plat::before {
            top: 4px;
            left: -38px;
            width: 10px;
            height: 18px;
            background-size: 10px 18px;
          }
        }
      }

      &--image {
        margin: 0 auto;
        order: 1;

        img {
          max-height: 282px;
        }
      }
    }

    .artchive-global {
      padding: 40px 0;

      .circle {
        width: 169px;
        height: 169px;

        &.right {
          top: 4px;
          right: -154px;
        }

        &.left {
          bottom: 0;
          left: -154px;
        }
      }

      .aligner {
        display: block;
        max-width: 100%;
        padding: 0 15px;

        > div {
          max-width: 100%;

          h5 {
            font-size: 13px;
            line-height: 177.04%;
          }

          p {
            margin: 10px 0 0;
            font-size: 12px;
            line-height: 177.04%;
          }
        }
      }

      .artchive-platform {
        padding-left: 50px;

        &::before {
          width: 29px;
          height: 29px;
          background-size: 29px 29px;
        }

        .rhomb {
          display: none;
        }
      }

      .artchive-app {
        margin-top: 35px;
        padding-left: 50px;

        &::before {
          width: 29px;
          height: 46px;
          background-size: 29px 46px;
        }

        .circle-blue {
          display: none;
        }
      }
    }

    .automation {
      padding: 40px 0;

      .content-wrapper {
        display: block;
        padding: 0 15px;
        position: relative;
      }

      &--image {
        display: none;
      }

      &--task {
        img {
          display: block;
          margin: 40px auto;
        }

        p {
          margin: 0;
          font-size: 13px;
          line-height: 177.04%;

          + p {
            margin-top: 0;
          }

          > span {
            font-weight: bold;
          }
        }
      }
    }

    .solution {
      padding: 40px 0;

      .content-wrapper {
        display: block;
        padding: 0 15px;
      }

      &--text {
        max-width: 100%;
        margin: 0;

        &--info {
          padding-left: 0;

          > img {
            display: block;
            margin: 20px auto 30px;
          }

          .first {
            margin-top: 25px;
            padding-left: 50px;

            &::before {
              width: 29px;
              height: 28px;
              background-size: 29px 28px;
            }

            p {
              font-size: 13px;
              line-height: 177.04%;
            }

            hr {
              display: none;
            }
          }

          .second {
            padding-left: 27px;

            &::before {
              left: 10px;
              height: 80%;
            }

            .arrows {
              left: 7px;
              width: 7px;
              padding: 5px 0;
            }

            p {
              font-size: 12px;
              line-height: 177.04%;

              + p {
                margin-top: 20px;
              }
            }
          }
        }
      }

      &--image {
        display: none;
      }
    }

    .app-automation {
      padding-top: 27px;

      .content-wrapper {
        display: block;
        padding: 0 15px;

        .rhomb,
        .circle-white {
          display: none;
        }
      }

      &--text {
        margin-right: 0;

        p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 177.04%;
        }
      }

      &--image {
        margin-top: 20px;

        img {
          display: block;
        }
      }
    }

    .tasks-list {
      padding: 40px 0;

      .content-wrapper {
        max-width: 100%;
        padding: 0 15px;
      }

      .title {
        font-size: 13px;
        line-height: 177.04%;
      }

      .list {
        margin-top: 50px;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0;

        &.images {
          li {
            max-width: 134px;

            &:nth-child(2) {
              margin-top: 20px;
              order: 3;
            }

            &:nth-child(3) {
              margin-left: 20px;
              order: 2;
            }

            .task {
              width: 134px;
              height: 134px;

              &.aut {
                -webkit-order: 1;
                order: 1;
                background-size: 115px 81px;
              }

              &.uni {
                -webkit-order: 3;
                order: 3;
                background-size: 115px 79px;
              }

              &.api {
                -webkit-order: 2;
                order: 2;
                background-size: 115px 104px;
              }
            }

            p {
              margin-top: 5px;
              font-size: 12px;
              line-height: 177.04%;
            }
          }
        }

        &.icons {
          margin-top: 70px;

          &::before,
          &::after {
            display: none;
          }

          li {
            max-width: 100%;
            width: 100%;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: -60px;
              left: 50%;
              transform: translateX(-50%);
              width: 1px;
              height: 50px;
              background: #c4c4c4;
            }

            p {
              max-width: 220px;
              margin: 20px auto 0;
              font-size: 13px;
              line-height: 177.04%;

              span {
                display: block;
              }
            }

            + li {
              margin-top: 70px;

              span > br {
                display: none;
              }
            }
          }
        }
      }
    }

    .algorithm {
      padding: 40px 0;

      .content-wrapper {
        max-width: 100%;
      }

      &-wrapper {
        display: block;
      }

      &--info {
        max-width: 100%;
        margin-right: 0;

        &--text {
          margin-top: 30px;
          padding-left: 50px;
          background-position-y: 2px;
          background-size: 30px 18px;

          p {
            font-size: 13px;
            line-height: 177.04%;

            + p {
              margin-top: 10px;
              font-size: 12px;
            }
          }
        }
      }

      &--image {
        max-width: 100%;
        margin: 25px auto 0;
      }

      .steps-list {
        display: block;
        margin-top: 40px;
        padding-left: 0;

        .tooltip {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          width: 144px;
          height: 144px;
          margin: 0 auto;

          &--text {
            .text {
              font-size: 13px;
              line-height: 177.04%;
            }
          }
        }

        ul {
          display: block;
          margin-top: 115px;
        }

        li {
          width: 100%;
          max-width: 160px;
          margin: 0 auto;
          padding-right: 0;

          &:first-child::before,
          &:nth-child(3)::before {
            top: 27px;
            left: -64px;
            width: 54px;
            height: 109px;
            background: url("../img/project-artchive/arrow-circle-left.svg") 0 0 no-repeat;
          }

          &:nth-child(2)::before {
            bottom: auto;
            top: 27px;
            left: auto;
            right: -64px;
            width: 54px;
            height: 109px;
            background: url("../img/project-artchive/arrow-circle-right.svg") 0 0 no-repeat;
          }

          span {
            font-size: 36px;
            line-height: 1;
          }

          p {
            margin-top: 10px;
            font-size: 12px;
            line-height: 177.04%;

            br {
              display: none;
            }
          }

          + li {
            margin-top: 10px;
          }
        }
      }
    }

    .algorithm-structure {
      padding: 40px 0;

      .content-wrapper {
        display: block;
        max-width: 100%;
        padding: 0 15px;
      }

      &--editor {
        margin: 0 auto;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -40px;
          left: 50%;
          margin-left: -12.5px;
          width: 25px;
          height: 15px;
          background: url("../img/project-artchive/arr-gray-bottom.svg") 0 0 no-repeat;
        }

        .image::after {
          display: none;
        }

        p {
          font-size: 13px;
          line-height: 177.04%;

          span {
            display: block;
          }
        }
      }

      &--block {
        max-width: 100%;

        .structure-list {
          display: block;
          margin-top: 90px;
          padding: 0;

          li {
            margin: 0 auto;

            span {
              font-size: 14px;
            }

            &:first-child::before,
            &:nth-child(2)::before {
              content: "";
              position: absolute;
              top: auto;
              right: auto;
              bottom: -40px;
              left: 50%;
              margin-left: -12.5px;
              width: 25px;
              height: 15px;
              background: url("../img/project-artchive/arr-gray-bottom.svg") 0 0 no-repeat;
            }

            + li {
              margin-top: 90px;
            }
          }
        }

        .routing-list {
          margin-top: 85px;
          max-width: 100%;

          .user {
            display: flex;
          }

          &::before {
            top: -59px;
            left: 50%;
            margin-left: -2.5px;
            width: 5px;
            height: 34px;
          }

          .tooltip {
            position: static;
            margin: 0 auto;
            transform: translateX(0);
            font-size: 12px;
            line-height: 177.04%;
          }

          ul {
            margin-top: 80px;
            justify-content: flex-start;
            flex-wrap: wrap;
          }

          li {
            max-width: 100%;
            position: relative;

            .arrow {
              display: none;
            }

            p {
              max-width: 180px;
              margin: 10px auto 0;
              font-size: 12px;
              line-height: 177.04%;
            }

            &.status {
              order: 2;
              margin-top: 80px;

              &::before {
                content: "";
                position: absolute;
                top: -59px;
                left: 50%;
                margin-left: -2.5px;
                width: 5px;
                height: 34px;
                background-color: #dbd8d8;
              }
            }

            &.params {
              order: 1;

              span {
                display: block;
              }

              &::before {
                top: -59px;
                bottom: auto;
                right: auto;
                left: 50%;
                margin-left: -2.5px;
                width: 5px;
                height: 34px;
              }
            }
          }
        }
      }
    }

    .creation-process {
      padding: 40px 0;
      overflow: hidden;

      .aligner {
        padding: 0 15px;
        flex-wrap: wrap;
      }

      &--text {
        order: 1;
        width: 100%;
        max-width: 100%;
        margin: 0;

        p {
          margin-top: 10px;
          max-width: 100%;
          font-size: 13px;
          line-height: 177.04%;
        }
      }

      &--image {
        order: 2;
        width: 100%;
        max-width: 100%;
        margin-top: 60px;
      }

      .content-wrapper {
        display: block;
        margin-top: 40px;
      }

      &--todo {
        max-width: 100%;
        margin: 0;
        padding: 0 15px;

        p {
          font-size: 13px;
          line-height: 177.04%;
        }

        ul {
          margin-top: 30px;
        }

        li {
          padding-left: 45px;
          font-size: 12px;
          line-height: 177.04%;

          &::before {
            top: 1px;
          }

          + li {
            margin-top: 30px;
          }

          .dots {
            display: none;
          }
        }
      }

      &--mac {
        margin-top: 45px;
        padding-left: 15px;
        width: 398px;
        margin-right: 0;
        position: relative;
        right: -10px;
      }
    }

    .end-result {
      padding-top: 40px;

      .content-wrapper {
        display: block;
        padding: 0;
      }

      &--text {
        margin-top: 0;
        padding: 0 15px;

        p {
          margin-top: 5px;
          font-size: 13px;
          line-height: 177.04%;
        }
      }

      &--image {
        margin-top: 35px;

        img {
          display: none;
        }

        .image {
          display: block;
        }
      }
    }

    .default-features {
      padding: 40px 0;

      .content-wrapper {
        max-width: 100%;
        padding: 0 15px;
      }

      .title {
        font-size: 13px;
        line-height: 177.04%;

        br {
          display: none;
        }
      }

      .features-list {
        max-width: 290px;
        left: auto;
        margin: 40px auto 0;
        justify-content: center;

        li {
          width: 128px;
          margin-bottom: 25px;

          &:nth-child(2n + 2) {
            margin-left: 34px;
          }

          .icon {
            width: 100%;
            height: 128px;
          }

          p {
            margin-top: 10px;
            font-size: 12px;
            line-height: 177.04%;

            br {
              display: none;
            }
          }
        }
      }
    }

    .artchive-apps {
      padding: 0 0 34px;

      .content-wrapper {
        padding: 0 15px;
      }

      &--title {
        h3 {
          margin: 0;
          font-size: 14px;
          line-height: 177.04%;
        }

        p {
          font-size: 14px;
          line-height: 177.04%;
        }
      }

      &--list {
        margin-top: 25px;
        display: block;

        ul {
          max-width: 100%;
        }

        &--item {
          &::before {
            top: 100%;
            right: 50%;
            transform: translateY(0);
            margin-right: -9px;
            border-width: 11px 9px 0 9px;
            border-color: #26348b transparent transparent transparent;
          }

          &:hover {
            background-color: transparent;

            &::before {
              display: none;
            }

            p {
              color: black;
            }
          }

          &.active:hover {
            background-color: #26348b;

            &::before {
              display: block;
            }

            p {
              color: white;
            }
          }
        }
      }

      &--slider {
        display: none;

        &.selected {
          display: none;
        }
      }

      &--slider-mobile {
        max-width: 100%;
        margin-top: 20px;

        .apps-links .link {
          svg {
            max-width: 23px;
          }

          + .link {
            margin-left: 12px;
          }
        }
      }
    }

    .service-components {
      padding: 40px 0 65px;
      overflow: hidden;

      .content-wrapper {
        max-width: 100%;
        padding: 0 15px;
      }

      &-block {
        display: block;
        margin-top: 25px;
      }

      &--text {
        width: 100%;
        max-width: 100%;
        padding-left: 50px;
        margin-right: 0;
        background-size: 28px 22px;

        p {
          font-size: 13px;
          line-height: 177.04%;

          + p {
            margin-top: 15px;
          }
        }
      }

      &--image {
        margin-top: 15px;
        width: 398px;
        margin-right: 0;
        position: relative;
        right: -10px;

        img {
          min-width: auto;
        }
      }
    }

    .components-structure {
      padding: 40px 0;

      .content-wrapper {
        max-width: 100%;
      }

      .rhomb,
      .circle,
      .blue-circle {
        display: none;
      }

      &-block {
        margin-top: 45px;

        .double-arrow {
          width: 20px;

          &::before {
            top: -3px;
            left: -2px;
            border-width: 4px 6px 4px 0;
          }

          &::after {
            top: -3px;
            right: -2px;
            border-width: 4px 0 4px 6px;
          }

          &.top-bot {
            height: 20px;

            &::before {
              border-width: 0 4px 8px 4px;
              top: -2px;
              left: -3px;
            }

            &::after {
              border-width: 8px 4px 0 4px;
              bottom: -2px;
              right: -3px;
            }
          }
        }
      }

      .layer-top {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 15px;

        .adm-db {
          width: auto;
          padding: 0;
          background: none;
          box-shadow: none;

          li {
            width: 85px;
            height: 35px;
            font-size: 12px;

            + li {
              margin-left: 25px;
            }
          }
        }

        .git {
          width: 85px;
          height: 35px;
          font-size: 12px;

          .arrow-bot {
            height: 20px;
            top: calc(100% + 20px);

            &::before {
              border-width: 8px 4px 0 4px;
              left: -3px;
            }
          }
        }
      }

      .layer-middle {
        max-width: 290px;
        margin: 55px auto 0;
        padding: 12px 30px;

        .double-arrow {
          width: 20px;
        }

        li {
          width: 100px;
          height: 35px;
          min-height: 35px;
          font-size: 12px;
          line-height: 177.04%;
        }
      }

      .layer-bot {
        margin: 80px auto 0;
        max-width: 290px;

        .arrows {
          top: -50px;
          width: 165px;
          margin-left: -82.5px;

          .double-arrow {
            top: -17px;
            height: 35px;
          }

          .arrow-bot {
            height: 17.5px;

            &::after {
              border-width: 8px 4px 0 4px;
              left: -3px;
            }
          }
        }

        .os-block {
          max-width: 130px;
          padding-bottom: 10px;

          ul {
            top: -17.5px;

            .badge {
              width: 80px;
              height: 35px;
              font-size: 12px;
              line-height: 177.04%;
            }

            li {
              font-size: 12px;
              line-height: 115.75%;

              + li {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }

    .sdk {
      padding: 40px 0;

      .content-wrapper {
        display: block;
        max-width: 100%;
        padding: 0 15px;
      }

      &--info {
        order: 1;
        max-width: 100%;

        &--text {
          margin-top: 25px;

          .mobile-link {
            display: block;
            margin-top: 25px;

            img {
              display: block;
              margin: 0 auto;
            }
          }

          .link-logo {
            display: none;
          }

          p {
            font-size: 13px;
            line-height: 177.04%;
          }

          li {
            font-size: 12px;
            line-height: 177.04%;

            br {
              display: none;
            }
          }
        }
      }

      &--image {
        display: none;
      }
    }

    .app-updates {
      padding: 40px 0 0;

      .content-wrapper {
        display: block;
        max-width: 100%;
        padding: 0 15px;
      }

      &--info {
        h2 {
          margin-bottom: 20px;
        }

        p {
          font-size: 13px;
          line-height: 177.04%;

          &:last-child {
            font-size: 13px;
            line-height: 177.04%;
          }
        }

        hr {
          margin: 20px 0;
        }
      }

      &--image {
        img {
          display: none;
        }

        .mobile-img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .final-result {
      padding: 40px 0 45px;

      .content-wrapper {
        display: block;
        max-width: 100%;
        padding: 0 15px;
      }

      &--info {
        width: 100%;
        max-width: 100%;
        margin-right: 0;

        &--text {
          margin-top: 25px;
          padding: 0 0 0 50px;
          background-size: 29px 36px;

          p {
            font-size: 13px;
            line-height: 177.04%;

            + p {
              margin-top: 20px;
            }
          }
        }
      }

      &--image {
        margin-top: 20px;
      }

      &--list {
        margin-top: 40px;
        max-width: 100%;
        flex-wrap: wrap;

        + .final-result--list {
          margin-top: 25px;

          li:last-child {
            margin-top: 25px;
          }
        }

        li {
          width: 45%;

          span {
            margin-top: 15px;
            font-size: 14px;
            line-height: 13px;
          }

          p {
            margin-top: 5px;
            font-size: 12px;
            line-height: 177.04%;
          }

          + li {
            margin-left: 5%;
          }
        }
      }
    }

    .runet-awards {
      padding: 40px 0 60px;

      .content-wrapper {
        max-width: 100%;
        padding: 0 15px;
      }

      &--info {
        max-width: 100%;

        &--text {
          margin-bottom: 25px;

          img {
            max-height: 44px;
          }

          p {
            margin-left: 15px;
            font-size: 13px;
            line-height: 177.04%;
          }
        }

        > p {
          padding-left: 50px;
          font-size: 13px;
          line-height: 177.04%;

          + p {
            margin-top: 20px;
          }
        }
      }

      &--slider {
        position: relative;
        top: auto;
        right: auto;
        max-width: 270px;
        margin: 20px auto 0;
        transform: translateY(0);

        .slick-slide {
          + .slick-slide {
            margin-left: 0;
          }

          img {
            margin: 0 10px;
            max-width: 250px;
          }
        }

        .slick-dots {
          bottom: auto;
          left: 50%;
          transform: translateX(-50%);
          display: flex !important;
          justify-content: center;

          li button {
            width: 41px;
          }
        }
      }
    }

    .project-management {
      padding-top: 40px;

      .content-wrapper {
        display: block;
        max-width: 100%;
        padding: 0 15px;
      }

      .circle {
        width: 26px;
        height: 26px;
        top: 12px;
        left: 7px;
      }

      .rhomb,
      .rhomb-small,
      .rhomb-circle {
        display: none;
      }

      &--info {
        max-width: 100%;
        margin-right: 0;
        padding: 0;

        &--lead {
          margin-bottom: 20px;

          img {
            max-height: 51px;
          }

          > div {
            margin-left: 15px;

            h4,
            p {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        > p {
          padding: 0;
          font-size: 12px;
          line-height: 177.04%;

          + p {
            margin-top: 20px;
          }
        }
      }

      &--image {
        margin-top: 20px;

        img {
          display: none;
        }

        .mobile-img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .feedback {
      padding: 40px 0;

      .content-wrapper {
        max-width: 100%;
        padding: 0 15px;
      }

      .feedback-wrapper {
        padding-right: 0;
      }

      &-row {
        &.ceo {
          margin-top: 15px;
          justify-content: flex-start;
        }

        + .feedback-row {
          display: none;
        }

        .feedback--image {
          margin: 0;
          width: 51px;
          height: 51px;
          background-size: cover;

          .blue-circle {
            display: none;
          }

          .badge {
            top: 36px;
            left: 33px;
            width: 18px;
            height: 18px;
            background-size: cover;
          }
        }

        .feedback-circle {
          display: none;
        }
      }

      &-title {
        display: block;
      }

      &-modal {
        position: static;
        transform: translate(0, 0);
        margin-top: 25px;
        padding: 20px 30px;

        &--heading {
          justify-content: flex-start;

          .title {
            display: none;
          }
        }

        &--content {
          p {
            font-size: 12px;
            line-height: 177.04%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project .runet-awards {
    padding-left: 15px;
    padding-right: 15px;

    &--slider {
      .slick-slide + .slick-slide {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .project .artchive-global .circle.left {
    bottom: auto;
    top: 173px;
  }
}

@media screen and (min-width: 1025px) {
  .project .artchive-apps--slider-mobile {
    display: none !important;
  }
}