.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 85, 171, 0.9), rgba(0, 31, 141, 0.9));
  padding: 24px 76px 24px 36px;
  z-index: 450;

  &-close-btn {
    position: absolute;
    top: 28px;
    right: 47px;
    width: 14px;
    height: 14px;
    background: url("../img/svg/ic-close-small.svg") 0 0 no-repeat;
  }

  p {
    margin: 0;
    color: white;
    font-size: 14px;
    line-height: normal;
  }
}

@media screen and (max-width: 1024px) {
  .cookies {
    max-width: 420px;
    padding: 40px 15px 21px 15px;

    &-close-btn {
      top: 16px;
      right: 15px;
    }

    p {
      font-size: 12px;
      line-height: 1.33;
    }
  }
}