footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 100px auto;
  padding: 0 36px;
  position: relative;
  overflow: hidden;
}

.footer-wrapper {
  width: 100%;
  padding: 90px 0;
  background-image: linear-gradient(to bottom, #fbfbfb, #fbfbfb 41%, rgba(255, 255, 255, 0));
}

.footer-content {
  display: block;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;

  h2 {
    width: 100%;
    margin-bottom: 90px;
    font-size: 40px;
    letter-spacing: 0.5px;
  }
}

.footer--form {
  width: 100%;
  max-width: 475px;

  .notice {
    margin-top: 70px;
  }
}

.footer--contact {
  position: absolute;
  top: 0;
  right: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 10;

  &.map-opened {
    right: 0;
    background: #fbfbfb;
  }

  &--wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding-left: 250px;
  }

  &--info {
    margin-right: 100px;
    width: 290px;
  }

  &--map {
    width: calc(100% - 390px);

    .map-moscow,
    .map-orel {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  &--address {
    margin-bottom: 52px;
    position: relative;

    &--link {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .city {
      margin-bottom: 5px;
      color: #4a4a4a;
      font-family: $font_gotham_bold;
      font-size: 22px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 0.3px;
      text-transform: uppercase;

      &.active {
        color: #24b4bc;
      }
    }

    .street {
      margin-bottom: 20px;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.2px;
    }

    .map-btn {
      display: block;
      padding-right: 33px;
      background: url("../img/svg/arrow-right-small.svg") 100% 50% no-repeat;
      color: #4a4a4a;
      font-family: $font_gotham_bold;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      transition: color 0.3s;

      &:hover {
        color: #24b4bc;
      }

      &.btn-active {
        padding-right: 0;
        padding-left: 33px;
        background: url("../img/svg/arrow-left-small.svg") 0 50% no-repeat;
      }
    }
  }

  &--phone-mail {
    margin-bottom: 90px;

    > a {
      display: block;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.2px;
      transition: color 0.3s;

      &:hover {
        color: #25b7bd;
      }

      + a {
        margin-top: 4px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .footer--contact--wrapper {
    padding-left: 200px;
  }
}

@media screen and (max-width: 1140px) {
  .footer--contact--wrapper {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1040px) {
  .footer--contact--wrapper {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    max-width: 420px;
    margin: 0 auto;
    padding: 0;
  }

  .footer-wrapper {
    padding: 50px 0 0 0;
  }

  .footer-content {
    max-width: 420px;
    padding: 0 15px;

    h2 {
      max-width: 270px;
      margin-bottom: 40px;
      font-size: 29px;
      line-height: 1.17;
      letter-spacing: 0px;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 2px;
        width: 22px;
        height: 12px;
        background: url("../img/svg/triangle-down.svg") 0 0 no-repeat;
        background-size: 22px 12px;
      }

      span {
        display: none;
      }
    }
  }

  .footer--form {
    max-width: 420px;

    form {
      display: flex;
      flex-wrap: wrap;
    }

    .form-field.form-field.submit {
      order: 20;
      display: block;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0;

      label {
        display: inline-block;
      }

      input[type="submit"] {
        margin: 0 auto;
        height: 46px;
        font-size: 10px;
        letter-spacing: 0.1px;
      }
    }

    .attach-file {
      margin-bottom: 20px;
    }

    .form-field > label {
      top: 24px;
      font-size: 12px;
      letter-spacing: 0.1px;
    }

    .form-field.textarea textarea {
      height: 50px;
      resize: none;
    }

    .form-field.textarea > label {
      top: 0;
    }

    .notice {
      margin-top: 15px;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1px;

      br {
        display: none;
      }
    }
  }

  .footer--contact {
    position: static;
    right: auto;
    max-width: 420px;
    margin: 0 auto;
    padding: 120px 15px 40px 15px;
    background-color: #fcfcfc;

    .close-btn {
      display: none;
    }

    &--wrapper {
      display: block;
      max-width: 100%;
      padding-left: 0;
    }

    &--map {
      display: none;
    }

    &--info {
      margin: 0;
      width: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--address,
    &--phone-mail,
    &--social {
      width: 45%;
    }

    &--address {
      margin-bottom: 40px;

      &--link {
        display: block;
      }

      .city {
        margin-bottom: 8px;
        color: #4a4a4a !important;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.2px;
        position: relative;
        transition: color 0.3s;

        &::after {
          content: "";
          position: absolute;
          top: 3px;
          width: 9px;
          height: 12px;
          background: url("../img/svg/ic-pin.svg") 0 0 no-repeat;
        }

        &.moscow::after {
          left: 80px;
        }

        &.orel::after {
          left: 54px;
        }
      }

      .street {
        font-size: 12px;
        line-height: 1.58;
        letter-spacing: 0.1px;
      }

      .map-btn {
        display: none;
      }
    }

    &--phone-mail {
      margin-bottom: 0;

      > a {
        font-size: 12px;
        line-height: 1.58;
        letter-spacing: 0.1px;

        + a {
          margin-top: 2px;
        }
      }
    }
  }
}


