button {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  &.textarea {
    margin-top: 28px;
    padding-top: 26px;
    display: flex;
    flex-wrap: wrap;

    label {
      order: 1;
    }

    textarea {
      order: 2;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

label {
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  border: 0;
  border-bottom: 2px solid #dbdbdb;
  box-shadow: none;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #24b4bc;

    + label {
      top: 0;
      font-size: 12px;
      color: #24b4bc;
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  background: none;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.58;
  letter-spacing: 0.2px;
  border: 0;
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  box-shadow: none;
  outline: none;
  resize: vertical;
  transition: border-color 0.3s;

  &:focus {
    border-color: #24b4bc;

    + label {
      top: 0;
      font-size: 12px;
      color: #24b4bc;
    }
  }
}

input[type="file"] {
  display: block;
  padding-left: 26px;
  background: url("../img/svg/ic-attach.svg") 0 50% no-repeat;
  color: #25c3c7;
  font-size: 11px;
  font-weight: bold;
  line-height: 2.18;
  letter-spacing: 0.1px;
}

input[type="submit"] {
  display: block;
  padding: 0 26px;
  height: 50px;
  background: #25b7bd;
  background-image: linear-gradient(to left, #25b7bd, #006fba);
  font-size: 11px;
  color: white;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

.notice {
  margin: 0;
  color: #999999;
  font-size: 14px;
  font-style: italic;
  line-height: 1.29;
  letter-spacing: 0.2px;

  > a {
    color: #24b4bc;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: #24b4bc;
    }
  }
}

form {
  display: block;
  width: 100%;
}

.form-field > label {
  position: absolute;
  top: 18px;
  left: 0;
  transition: color 0.3s, top 0.3s, font-size 0.3s;
}

.form-field.textarea > label {
  top: 0;
}

.form-field > .input-field.not-empty + label,
.form-field > .textarea-field.not-empty + label {
  top: 0;
  font-size: 12px;
  color: #24b4bc;
}

.attach-file {
  position: relative;

  label {
    display: block;
    padding-left: 26px;
    background: url("../img/svg/ic-attach.svg") 0 50% no-repeat;
    color: #25c3c7;
    font-size: 11px;
    font-weight: bold;
    line-height: 2.18;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.form-field.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}