header {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  max-width: 1920px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 36px;
  background: white;
  z-index: 450;
}

.header--logo img {
  display: block;
  width: 167px;
  height: 42px;
}

.header--nav {
  ul {
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
      color: black;
      font-family: $font_gotham_medium;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: black;
      transition: color 0.3s;

      &:hover {
        color: #24b4bc;
      }
    }
  }

  &--btn {
    position: relative;
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      color: black;
      font-family: $font_gotham_medium;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
      transition: color 0.3s;
    }

    svg path {
      transition: fill 0.3s;
    }

    &:hover {
      span {
        color: #24b4bc;
      }

      svg .stripe {
        fill: #24b4bc;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    max-width: 420px;
    padding: 0 15px;
    height: 46px;
    z-index: 5;
    background: white;

    .header--nav--btn {
      svg .stripe {
        fill: black;
      }

      &:hover svg .stripe {
        fill: black;
      }
    }

    &.hasScrolled {
      background: white;

      .header--nav--btn {
        svg .stripe {
          fill: black;
        }

        &:hover svg .stripe {
          fill: black;
        }
      }
    }
  }

  .header--logo img {
    width: 102px;
    height: 26px;
  }

  .header--nav ul .header--nav--phone,
  .header--nav ul .header--nav--mail {
    display: none;
  }

  .header--nav--btn {
    span {
      display: none;
    }

    svg .stripe {
      fill: white;
    }

    &:hover svg .stripe {
      fill: white;
    }
  }
}



