.shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 1s ease-out, visibility 1s ease-out;

  &.opened {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 80%;
  max-width: 100%;
  height: 100%;
  background: white;
  padding: 50px 50px 50px 190px;
  z-index: 600;

  &--container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--form {
    width: 100%;
    max-width: 475px;
    margin-right: 200px;

    h2 {
      margin-bottom: 85px;
      font-size: 34px;
    }

    .form-field.textarea textarea {
      height: 70px;
      max-height: 100px !important;
    }

    .notice {
      margin-top: 70px;
    }
  }

  .mob-logo {
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 102px;
    height: 26px;
  }

  &--links {
    li {
      display: block;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: black;
        font-family: $font_gotham_bold;
        font-size: 34px;
        font-weight: normal;
        line-height: 1;
        letter-spacing: 0.4px;

        &:hover,
        &.active {
          background-image: linear-gradient(to right, #25b7bd, #006fba);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &--contact {
    margin-top: 165px;

    &--phone {
      display: block;
      margin-bottom: 4px;
      color: #4a4a4a;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.2px;
      transition: color 0.3s;

      &:hover {
        color: #24b4bc;
      }
    }

    &--mail {
      color: #4a4a4a;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.2px;
      transition: color 0.3s;

      &:hover {
        color: #24b4bc;
      }
    }
  }

  &--social {
    margin-top: 40px;
  }
}

.modal-opened {
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 46px;
  width: 24px;
  height: 24px;

  svg .icon-fill {
    transition: fill 0.3s;
  }

  &:hover svg .icon-fill {
    fill: #24b4bc;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal--links li a:hover,
  .modal--links li a.active {
    background: none;
    color: #24b4bc;
  }
}

@media screen and (max-width: 1400px) {
  .modal {
    width: 90%;
    &.animation--modal.opened {
      transform: translate3d(12%, 0, 0);
    }
  }
}

@media screen and (max-width: 1240px) {
  .modal {
    padding-left: 120px;
  }
}

@media screen and (max-width: 1140px) {
  .modal {
    padding-left: 50px;
  }
}

@media screen and (max-height: 900px) {
  .modal--container {
    margin-top: 100px;
  }
}

@media screen and (max-height: 850px) {
  .modal--container {
    margin-top: 50px;
  }

  .modal--contact {
    margin-top: 100px;
  }
}

@media screen and (max-height: 800px) {
  .modal--form h2 {
    margin-bottom: 50px;
  }
}

@media screen and (max-height: 750px) {
  .modal--container {
    margin-top: 25px;
  }

  .modal--form .notice {
    margin-top: 50px;
  }
}

@media screen and (max-height: 700px) {
  .modal--form {
    h2 {
      margin-bottom: 30px;
      font-size: 30px;
    }

    .form-field.submit {
      margin-top: 50px;
    }
  }

  .modal--links li {
    margin-bottom: 30px;

    a {
      font-size: 30px;
    }
  }

  .modal--contact {
    margin-top: 75px;
  }
}

@media screen and (max-height: 650px) {
  .modal--form .form-field.submit {
    margin-top: 30px;
  }

  .modal--contact {
    margin-top: 50px;
  }

  .modal--container {
    margin-top: 0;
  }
}

@media screen and (max-height: 600px) {
  .modal--links li {
    margin-bottom: 25px;

    a {
      font-size: 26px;
    }
  }

  .modal--contact {
    margin-top: 75px;
  }

  .modal--form .notice {
    margin-top: 30px;
  }
}

@media screen and (max-height: 550px) {
  .modal--contact {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 100%;
    min-height: 100vh;
    padding: 20px 15px;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.75s 0.25s ease-in-out;

    &.animation--modal.opened {
      transform: translate3d(0, 0, 0);
    }

    .mob-logo {
      display: block;
    }

    .close-btn {
      top: 20px;
      right: 15px;
    }

    &--container {
      display: block;
      margin: 0;
    }

    &--form {
      display: none;
    }

    &--links {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);

      li {
        margin-bottom: 10px;

        a {
          font-size: 20px;
          line-height: 1.5;
          letter-spacing: 0.2px;
        }
      }
    }

    &--contact {
      display: none;
    }

    &--social {
      margin: 0;
      position: absolute;
      bottom: 40px;
      left: 15px;
    }
  }
}