@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #e8eef0;
    z-index: 1000;
    transition: transform 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);

    &.section-left {
      left: 0;
      transform: translate3d(0, 0, 0);
    }

    &.section-right {
      right: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  z-index: 1150;
  transform-origin: 50% 50%;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: transform 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000), top 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000), visibility 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);

  //   .semi-circle {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 85px;
  //     height: 85px;
  //     background: url("../../img/preloader/semi-circle.png") 0 0 no-repeat;
  //     animation: rotation 0.1s linear infinite;
  //     opacity: 1;
  //     visibility: visible;
  //     transition: opacity 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
  //   }

  .full-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    background: url("../../img/preloader/full-circle.png") 0 0 no-repeat;
    animation: rotation 0.4s linear infinite;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, opacity 0.5s ease;
  }

  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 85px;
    background: url("../../img/preloader/triangle.png") 0 0 no-repeat;
    transform: translate3d(200%, 0, 1400px);
    transition: transform 0.3s 0.3s ease;
  }
}

.loaded .loader-wrapper {
  .loader {
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-150%);

    // .semi-circle {
    //   opacity: 0;
    //   visibility: hidden;
    // }

    .full-circle {
      opacity: 1;
      visibility: visible;
    }

    .triangle {
      transform: translate3d(43px, 0, 0);
    }
  }

  .loader-section.section-left {
    transform: translate3d(-100%, -100%, 1400px);
  }

  .loader-section.section-right {
    transform: translate3d(100%, -100%, 1400px);
  }
}
